{
  "swagger": "2.0",
  "info": {
    "title": "CFB v3 Odds",
    "version": "1.0"
  },
  "host": "api.sportsdata.io",
  "basePath": "/v3/cfb/odds",
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "x-servers": [
    {
      "url": "http://api.sportsdata.io"
    },
    {
      "url": "https://api.sportsdata.io"
    },
    {
      "url": "http://azure-api.sportsdata.io"
    },
    {
      "url": "https://azure-api.sportsdata.io"
    }
  ],
  "paths": {
    "/{format}/GameOddsByWeek/{season}/{week}": {
      "get": {
        "operationId": "PreGameOddsByWeek",
        "summary": "Pre-Game Odds by Week",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season, with optional season type. <br>Examples: <code>2018</code>, <code>2018POST</code>, etc.",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "path",
            "description": "The week of the game(s). <br>Examples: <code>1</code>, <code>2</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GameInfo"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/GameOddsLineMovement/{gameid}": {
      "get": {
        "operationId": "PreGameOddsLineMovement",
        "summary": "Pre-Game Odds Line Movement",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "gameid",
            "in": "path",
            "description": "The GameID of an CFB game.  GameIDs can be found in the Games API.  Valid entries are <code>8487</code> or <code>8657</code>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GameInfo"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/LiveGameOddsByWeek/{season}/{week}": {
      "get": {
        "operationId": "InGameOddsByWeek",
        "summary": "In-Game Odds by Week",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season, with optional season type. <br>Examples: <code>2018</code>, <code>2018POST</code>, etc.",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "path",
            "description": "The week of the game(s). <br>Examples: <code>1</code>, <code>2</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GameInfo"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/LiveGameOddsLineMovement/{gameid}": {
      "get": {
        "operationId": "InGameOddsLineMovement",
        "summary": "In-Game Odds Line Movement",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "gameid",
            "in": "path",
            "description": "The GameID of an CFB game.  GameIDs can be found in the Games API.  Valid entries are <code>8487</code> or <code>8657</code>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GameInfo"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/AlternateMarketGameOddsByWeek/{season}/{week}": {
      "get": {
        "operationId": "AlternateMarketPreGameOddsByWeek",
        "summary": "Alternate Market Pre-Game Odds by Week",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season, with optional season type. <br>Examples: <code>2018</code>, <code>2018POST</code>, etc.",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "path",
            "description": "The week of the game(s). <br>Examples: <code>1</code>, <code>2</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GameInfo"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/AlternateMarketGameOddsLineMovement/{gameid}": {
      "get": {
        "operationId": "AlternateMarketPreGameOddsLineMovement",
        "summary": "Alternate Market Pre-Game Odds Line Movement",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "gameid",
            "in": "path",
            "description": "The GameID of an CFB game.  GameIDs can be found in the Games API.  Valid entries are <code>8487</code> or <code>8657</code>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GameInfo"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/TeamTrends/{team}": {
      "get": {
        "operationId": "BettingTrendsByTeam",
        "summary": "Betting Trends by Team",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "team",
            "in": "path",
            "description": "The abbreviation of the requested team. <br> Examples: <code>MIA</code>, <code>ND</code>, <code>PITT</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "$ref": "#/definitions/TeamTrends"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/MatchupTrends/{team}/{opponent}": {
      "get": {
        "operationId": "BettingTrendsByMatchup",
        "summary": "Betting Trends by Matchup",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "team",
            "in": "path",
            "description": "The abbreviation of the requested team. <br> Examples: <code>MIA</code>, <code>ND</code>, <code>PITT</code>, etc.",
            "required": true,
            "type": "string"
          },
          {
            "name": "opponent",
            "in": "path",
            "description": "The abbreviation of the requested opponent. <br> Examples: <code>MIA</code>, <code>ND</code>, <code>PITT</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "$ref": "#/definitions/MatchupTrends"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingEventsByDate/{date}": {
      "get": {
        "operationId": "BettingEventsByDate",
        "summary": "Betting Events by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s). <br>Examples: <code>2020-10-17</code>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BettingEvent"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingEvents/{season}": {
      "get": {
        "operationId": "BettingEventsBySeason",
        "summary": "Betting Events by Season",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season<br>Examples: <code>2020</code>, <code>2021</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BettingEvent"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingFuturesBySeason/{season}": {
      "get": {
        "operationId": "BettingFuturesBySeason",
        "summary": "Betting Futures by Season",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season<br>Examples: <code>2020</code>, <code>2021</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BettingEvent"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingMarket/{marketId}": {
      "get": {
        "operationId": "BettingMarket",
        "summary": "Betting Market",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "marketId",
            "in": "path",
            "description": "The MarketId of the desired market for which to pull all outcomes/bets.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "$ref": "#/definitions/BettingMarket"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingMarkets/{eventId}": {
      "get": {
        "operationId": "BettingMarketsByEvent",
        "summary": "Betting Markets by Event",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets).\n",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BettingMarket"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingMarketsByMarketType/{eventId}/{marketTypeID}": {
      "get": {
        "operationId": "BettingMarketsByMarketType",
        "summary": "Betting Markets by Market Type",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets).\n",
            "required": true,
            "type": "string"
          },
          {
            "name": "marketTypeID",
            "in": "path",
            "description": "The Market Type ID of the desired MarketTypes to pull. Some common types include: <code>1</code> for Game Lines, <code>2</code> for Player Props, <code>3</code> for Team Props, <code>6</code> for Game Props",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BettingMarket"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingMarketsByGameID/{gameid}": {
      "get": {
        "operationId": "BettingMarketsByGameid",
        "summary": "Betting Markets by GameID",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "gameid",
            "in": "path",
            "description": "The GameID of the desired game for which to pull all betting markets (includes outcomes/bets).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BettingMarket"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingPlayerPropsByDate/{date}": {
      "get": {
        "operationId": "BettingPlayerPropsByDate",
        "summary": "Betting Player Props by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s). <br>Examples: <code>2020-10-17</code>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BettingEvent"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingMetadata": {
      "get": {
        "operationId": "BettingMetadata",
        "summary": "Betting Metadata",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BettingEntityMetadata"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/ActiveSportsbooks": {
      "get": {
        "operationId": "SportsbooksActive",
        "summary": "Sportsbooks (Active)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Sportsbook"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingSplitsByMarketId/{marketId}": {
      "get": {
        "description": "List of Money and Bet Percentage splits for each outcome type available in this market. This specific endpoint will return the movement from this market as well as the most recent.",
        "operationId": "BettingSplitsByBettingmarketid",
        "summary": "Betting Splits By BettingMarketId",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "marketId",
            "in": "path",
            "description": "The MarketId of the desired market for which to pull splits.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "$ref": "#/definitions/BettingMarketSplit"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingSplitsByGameId/{gameid}": {
      "get": {
        "description": "List of Money and Bet Percentage splits for each market and their respective outcome types available in this game. This specific endpoint will return current splits for each available market and no line movement.",
        "operationId": "BettingSplitsByGameid",
        "summary": "Betting Splits By GameID",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "gameid",
            "in": "path",
            "description": "The ID of the game for which you want to receive splits for.Example <code>11778</code>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "$ref": "#/definitions/GameBettingSplit"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingMarketResults/{marketId}": {
      "get": {
        "description": "Returns all outcomes under this market which have a result type associated. Will return empty list if resulting has not yet processed for the given game. Resulting processes shortly after game closing. ",
        "operationId": "BettingResultingByMarket",
        "summary": "Betting Resulting By Market",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "marketId",
            "in": "path",
            "description": "BettingMarketID of the market for which you would like to see resulted outcomes. Valid example ID <code>17819</code>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "$ref": "#/definitions/BettingMarketResult"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BettingPlayerPropsByGameID/{gameId}": {
      "get": {
        "operationId": "BettingPlayerPropsByGameid",
        "summary": "Betting Player Props by GameID",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "gameId",
            "in": "path",
            "description": "The unique GameID of the game in question.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BettingMarket"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    }
  },
  "tags": [],
  "definitions": {
    "GameInfo": {
      "properties": {
        "GameId": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "Week": {
          "type": "integer",
          "nullable": true
        },
        "Day": {
          "type": "string",
          "nullable": true
        },
        "DateTime": {
          "type": "string",
          "nullable": true
        },
        "Status": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamId": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamId": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamName": {
          "type": "string",
          "nullable": true
        },
        "HomeTeamName": {
          "type": "string",
          "nullable": true
        },
        "GlobalGameId": {
          "type": "integer",
          "nullable": false
        },
        "GlobalAwayTeamId": {
          "type": "integer",
          "nullable": true
        },
        "GlobalHomeTeamId": {
          "type": "integer",
          "nullable": true
        },
        "PregameOdds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameOdd"
          }
        },
        "LiveOdds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameOdd"
          }
        },
        "HomeTeamScore": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamScore": {
          "type": "integer",
          "nullable": true
        },
        "TotalScore": {
          "type": "integer",
          "nullable": true
        },
        "HomeRotationNumber": {
          "type": "integer",
          "nullable": true
        },
        "AwayRotationNumber": {
          "type": "integer",
          "nullable": true
        },
        "AlternateMarketPregameOdds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameOdd"
          }
        }
      }
    },
    "GameOdd": {
      "properties": {
        "GameOddId": {
          "type": "integer",
          "nullable": false
        },
        "Sportsbook": {
          "type": "string",
          "nullable": true
        },
        "GameId": {
          "type": "integer",
          "nullable": false
        },
        "Created": {
          "type": "string",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "HomeMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "AwayMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "DrawMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "HomePointSpread": {
          "type": "number",
          "nullable": true
        },
        "AwayPointSpread": {
          "type": "number",
          "nullable": true
        },
        "HomePointSpreadPayout": {
          "type": "integer",
          "nullable": true
        },
        "AwayPointSpreadPayout": {
          "type": "integer",
          "nullable": true
        },
        "OverUnder": {
          "type": "number",
          "nullable": true
        },
        "OverPayout": {
          "type": "integer",
          "nullable": true
        },
        "UnderPayout": {
          "type": "integer",
          "nullable": true
        },
        "SportsbookId": {
          "type": "integer",
          "nullable": true
        },
        "OddType": {
          "type": "string",
          "nullable": true
        },
        "SportsbookUrl": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "TeamTrends": {
      "properties": {
        "Team": {
          "type": "string",
          "nullable": true
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "UpcomingGame": {
          "$ref": "#/definitions/Game"
        },
        "TeamGameTrends": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamGameTrends"
          }
        }
      }
    },
    "Game": {
      "properties": {
        "GameID": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "Week": {
          "type": "integer",
          "nullable": true
        },
        "Status": {
          "type": "string",
          "nullable": true
        },
        "Day": {
          "type": "string",
          "nullable": true
        },
        "DateTime": {
          "type": "string",
          "nullable": true
        },
        "AwayTeam": {
          "type": "string",
          "nullable": true
        },
        "HomeTeam": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamID": {
          "type": "integer",
          "nullable": false
        },
        "HomeTeamID": {
          "type": "integer",
          "nullable": false
        },
        "AwayTeamName": {
          "type": "string",
          "nullable": true
        },
        "HomeTeamName": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamScore": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamScore": {
          "type": "integer",
          "nullable": true
        },
        "Period": {
          "type": "string",
          "nullable": true
        },
        "TimeRemainingMinutes": {
          "type": "integer",
          "nullable": true
        },
        "TimeRemainingSeconds": {
          "type": "integer",
          "nullable": true
        },
        "PointSpread": {
          "type": "number",
          "nullable": true
        },
        "OverUnder": {
          "type": "number",
          "nullable": true
        },
        "AwayTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "Created": {
          "type": "string",
          "nullable": true
        },
        "GlobalGameID": {
          "type": "integer",
          "nullable": false
        },
        "GlobalAwayTeamID": {
          "type": "integer",
          "nullable": false
        },
        "GlobalHomeTeamID": {
          "type": "integer",
          "nullable": false
        },
        "StadiumID": {
          "type": "integer",
          "nullable": true
        },
        "Stadium": {
          "$ref": "#/definitions/Stadium"
        },
        "YardLine": {
          "type": "integer",
          "nullable": true
        },
        "YardLineTerritory": {
          "type": "string",
          "nullable": true
        },
        "Down": {
          "type": "integer",
          "nullable": true
        },
        "Distance": {
          "type": "integer",
          "nullable": true
        },
        "Possession": {
          "type": "string",
          "nullable": true
        },
        "Periods": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Period"
          }
        },
        "IsClosed": {
          "type": "boolean",
          "nullable": false
        },
        "GameEndDateTime": {
          "type": "string",
          "nullable": true
        },
        "Title": {
          "type": "string",
          "nullable": true
        },
        "HomeRotationNumber": {
          "type": "integer",
          "nullable": true
        },
        "AwayRotationNumber": {
          "type": "integer",
          "nullable": true
        },
        "Channel": {
          "type": "string",
          "nullable": true
        },
        "NeutralVenue": {
          "type": "boolean",
          "nullable": true
        },
        "AwayPointSpreadPayout": {
          "type": "integer",
          "nullable": true
        },
        "HomePointSpreadPayout": {
          "type": "integer",
          "nullable": true
        },
        "OverPayout": {
          "type": "integer",
          "nullable": true
        },
        "UnderPayout": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "Stadium": {
      "properties": {
        "StadiumID": {
          "type": "integer",
          "nullable": false
        },
        "Active": {
          "type": "boolean",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Dome": {
          "type": "boolean",
          "nullable": false
        },
        "City": {
          "type": "string",
          "nullable": true
        },
        "State": {
          "type": "string",
          "nullable": true
        },
        "GeoLat": {
          "type": "number",
          "nullable": true
        },
        "GeoLong": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "Period": {
      "properties": {
        "PeriodID": {
          "type": "integer",
          "nullable": false
        },
        "GameID": {
          "type": "integer",
          "nullable": false
        },
        "Number": {
          "type": "integer",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "AwayScore": {
          "type": "integer",
          "nullable": true
        },
        "HomeScore": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "TeamGameTrends": {
      "properties": {
        "Scope": {
          "type": "string",
          "nullable": true
        },
        "TeamID": {
          "type": "integer",
          "nullable": false
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "OpponentID": {
          "type": "integer",
          "nullable": true
        },
        "Opponent": {
          "type": "string",
          "nullable": true
        },
        "Wins": {
          "type": "integer",
          "nullable": false
        },
        "Losses": {
          "type": "integer",
          "nullable": false
        },
        "Ties": {
          "type": "integer",
          "nullable": false
        },
        "WinsAgainstTheSpread": {
          "type": "integer",
          "nullable": true
        },
        "LossesAgainstTheSpread": {
          "type": "integer",
          "nullable": true
        },
        "PushesAgainstTheSpread": {
          "type": "integer",
          "nullable": true
        },
        "Overs": {
          "type": "integer",
          "nullable": true
        },
        "Unders": {
          "type": "integer",
          "nullable": true
        },
        "OverUnderPushes": {
          "type": "integer",
          "nullable": true
        },
        "AverageScore": {
          "type": "number",
          "nullable": true
        },
        "AverageOpponentScore": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "MatchupTrends": {
      "properties": {
        "UpcomingGame": {
          "$ref": "#/definitions/Game"
        },
        "TeamTrends": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamTrends"
          }
        },
        "TeamMatchupTrends": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamGameTrends"
          }
        },
        "OpponentMatchupTrends": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamGameTrends"
          }
        },
        "PreviousGames": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Game"
          }
        }
      }
    },
    "BettingEvent": {
      "properties": {
        "BettingEventID": {
          "type": "integer",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Season": {
          "type": "integer",
          "nullable": true
        },
        "BettingEventTypeID": {
          "type": "integer",
          "nullable": false
        },
        "BettingEventType": {
          "type": "string",
          "nullable": true
        },
        "StartDate": {
          "type": "string",
          "nullable": true
        },
        "Created": {
          "type": "string",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "GameID": {
          "type": "integer",
          "nullable": true
        },
        "GlobalGameID": {
          "type": "integer",
          "nullable": true
        },
        "GameStatus": {
          "type": "string",
          "nullable": true
        },
        "AwayTeam": {
          "type": "string",
          "nullable": true
        },
        "HomeTeam": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamID": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamID": {
          "type": "integer",
          "nullable": true
        },
        "GlobalAwayTeamID": {
          "type": "integer",
          "nullable": true
        },
        "GlobalHomeTeamID": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamScore": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamScore": {
          "type": "integer",
          "nullable": true
        },
        "TotalScore": {
          "type": "integer",
          "nullable": true
        },
        "AwayRotationNumber": {
          "type": "integer",
          "nullable": true
        },
        "HomeRotationNumber": {
          "type": "integer",
          "nullable": true
        },
        "BettingMarkets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BettingMarket"
          }
        }
      }
    },
    "BettingMarket": {
      "properties": {
        "BettingMarketID": {
          "type": "integer",
          "nullable": false
        },
        "BettingEventID": {
          "type": "integer",
          "nullable": false
        },
        "BettingMarketTypeID": {
          "type": "integer",
          "nullable": true
        },
        "BettingMarketType": {
          "type": "string",
          "nullable": true
        },
        "BettingBetTypeID": {
          "type": "integer",
          "nullable": true
        },
        "BettingBetType": {
          "type": "string",
          "nullable": true
        },
        "BettingPeriodTypeID": {
          "type": "integer",
          "nullable": true
        },
        "BettingPeriodType": {
          "type": "string",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "TeamKey": {
          "type": "string",
          "nullable": true
        },
        "PlayerID": {
          "type": "integer",
          "nullable": true
        },
        "PlayerName": {
          "type": "string",
          "nullable": true
        },
        "Created": {
          "type": "string",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "AvailableSportsbooks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Sportsbook"
          }
        },
        "AnyBetsAvailable": {
          "type": "boolean",
          "nullable": true
        },
        "BettingOutcomes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BettingOutcome"
          }
        },
        "ConsensusOutcomes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConsensusOutcome"
          }
        }
      }
    },
    "Sportsbook": {
      "properties": {
        "SportsbookID": {
          "type": "integer",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "BettingOutcome": {
      "properties": {
        "BettingOutcomeID": {
          "type": "integer",
          "nullable": true
        },
        "BettingMarketID": {
          "type": "integer",
          "nullable": true
        },
        "SportsBook": {
          "$ref": "#/definitions/Sportsbook"
        },
        "BettingOutcomeTypeID": {
          "type": "integer",
          "nullable": true
        },
        "BettingOutcomeType": {
          "type": "string",
          "nullable": true
        },
        "PayoutAmerican": {
          "type": "integer",
          "nullable": true
        },
        "PayoutDecimal": {
          "type": "number",
          "nullable": true
        },
        "Value": {
          "type": "number",
          "nullable": true
        },
        "Participant": {
          "type": "string",
          "nullable": true
        },
        "IsAvailable": {
          "type": "boolean",
          "nullable": true
        },
        "IsAlternate": {
          "type": "boolean",
          "nullable": true
        },
        "Created": {
          "type": "string",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "Unlisted": {
          "type": "string",
          "nullable": true
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "PlayerID": {
          "type": "integer",
          "nullable": true
        },
        "GlobalTeamID": {
          "type": "integer",
          "nullable": true
        },
        "SportsbookUrl": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "ConsensusOutcome": {
      "properties": {
        "NumberOfSportsbooks": {
          "type": "integer",
          "nullable": false
        },
        "BettingOutcomeID": {
          "type": "integer",
          "nullable": true
        },
        "BettingMarketID": {
          "type": "integer",
          "nullable": true
        },
        "SportsBook": {
          "$ref": "#/definitions/Sportsbook"
        },
        "BettingOutcomeTypeID": {
          "type": "integer",
          "nullable": true
        },
        "BettingOutcomeType": {
          "type": "string",
          "nullable": true
        },
        "PayoutAmerican": {
          "type": "integer",
          "nullable": true
        },
        "PayoutDecimal": {
          "type": "number",
          "nullable": true
        },
        "Value": {
          "type": "number",
          "nullable": true
        },
        "Participant": {
          "type": "string",
          "nullable": true
        },
        "IsAvailable": {
          "type": "boolean",
          "nullable": true
        },
        "IsAlternate": {
          "type": "boolean",
          "nullable": true
        },
        "Created": {
          "type": "string",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "Unlisted": {
          "type": "string",
          "nullable": true
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "PlayerID": {
          "type": "integer",
          "nullable": true
        },
        "GlobalTeamID": {
          "type": "integer",
          "nullable": true
        },
        "SportsbookUrl": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "BettingEntityMetadata": {
      "properties": {
        "RecordId": {
          "type": "integer",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "BettingMarketSplit": {
      "properties": {
        "BettingMarketID": {
          "type": "integer",
          "nullable": false
        },
        "BettingEventID": {
          "type": "integer",
          "nullable": false
        },
        "BettingMarketTypeID": {
          "type": "integer",
          "nullable": false
        },
        "BettingMarketType": {
          "type": "string",
          "nullable": true
        },
        "BettingBetTypeID": {
          "type": "integer",
          "nullable": false
        },
        "BettingBetType": {
          "type": "string",
          "nullable": true
        },
        "BettingPeriodTypeID": {
          "type": "integer",
          "nullable": false
        },
        "BettingPeriodType": {
          "type": "string",
          "nullable": true
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "TeamKey": {
          "type": "string",
          "nullable": true
        },
        "PlayerID": {
          "type": "integer",
          "nullable": true
        },
        "PlayerName": {
          "type": "string",
          "nullable": true
        },
        "BettingSplits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BettingSplit"
          }
        }
      }
    },
    "BettingSplit": {
      "properties": {
        "BettingMarketSplitID": {
          "type": "integer",
          "nullable": false
        },
        "BettingMarketID": {
          "type": "integer",
          "nullable": false
        },
        "BettingOutcomeTypeID": {
          "type": "integer",
          "nullable": true
        },
        "BettingOutcomeType": {
          "type": "string",
          "nullable": true
        },
        "BetPercentage": {
          "type": "integer",
          "nullable": true
        },
        "MoneyPercentage": {
          "type": "integer",
          "nullable": true
        },
        "Created": {
          "type": "string",
          "nullable": true
        },
        "LastSeen": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "GameBettingSplit": {
      "properties": {
        "GameID": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "Week": {
          "type": "integer",
          "nullable": false
        },
        "Day": {
          "type": "string",
          "nullable": true
        },
        "AwayTeam": {
          "type": "string",
          "nullable": true
        },
        "HomeTeam": {
          "type": "string",
          "nullable": true
        },
        "BettingMarketSplits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BettingMarketSplit"
          }
        }
      }
    },
    "BettingMarketResult": {
      "properties": {
        "BettingMarketID": {
          "type": "integer",
          "nullable": false
        },
        "BettingMarketTypeID": {
          "type": "integer",
          "nullable": false
        },
        "BettingMarketType": {
          "type": "string",
          "nullable": true
        },
        "BettingBetTypeID": {
          "type": "integer",
          "nullable": false
        },
        "BettingBetType": {
          "type": "string",
          "nullable": true
        },
        "BettingPeriodTypeID": {
          "type": "integer",
          "nullable": false
        },
        "BettingPeriodType": {
          "type": "string",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "TeamKey": {
          "type": "string",
          "nullable": true
        },
        "PlayerID": {
          "type": "integer",
          "nullable": true
        },
        "PlayerName": {
          "type": "string",
          "nullable": true
        },
        "BettingOutcomeResults": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BettingOutcomeResult"
          }
        }
      }
    },
    "BettingOutcomeResult": {
      "properties": {
        "BettingOutcomeID": {
          "type": "integer",
          "nullable": false
        },
        "BettingResultTypeID": {
          "type": "integer",
          "nullable": true
        },
        "BettingResultType": {
          "type": "string",
          "nullable": true
        },
        "BettingOutcomeTypeID": {
          "type": "integer",
          "nullable": true
        },
        "BettingOutcomeType": {
          "type": "string",
          "nullable": true
        },
        "BetValue": {
          "type": "number",
          "nullable": true
        },
        "ActualValue": {
          "type": "number",
          "nullable": true
        }
      }
    }
  }
}