{
  "swagger": "2.0",
  "info": {
    "title": "MLB v3 Projections",
    "version": "1.0",
    "description": "MLB projections API."
  },
  "host": "api.sportsdata.io",
  "basePath": "/v3/mlb/projections",
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "x-servers": [
    {
      "url": "http://api.sportsdata.io"
    },
    {
      "url": "https://api.sportsdata.io"
    },
    {
      "url": "http://azure-api.sportsdata.io"
    },
    {
      "url": "https://azure-api.sportsdata.io"
    }
  ],
  "paths": {
    "/{format}/PlayerGameProjectionStatsByDate/{date}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByDateWInjuriesLineupsDfsSalaries",
        "summary": "Projected Player Game Stats by Date (w/ Injuries, Lineups, DFS Salaries)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerGameProjection"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByPlayerWInjuriesLineupsDfsSalaries",
        "summary": "Projected Player Game Stats by Player (w/ Injuries, Lineups, DFS Salaries)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "type": "string"
          },
          {
            "name": "playerid",
            "in": "path",
            "description": "Unique FantasyData Player ID.\nExample:<code>10000507</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerGameProjection"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerSeasonProjectionStats/{season}": {
      "get": {
        "operationId": "ProjectedPlayerSeasonStatsWithAdp",
        "summary": "Projected Player Season Stats (with ADP)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season.\n<br>Examples: <code>2017</code>, <code>2018</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerSeasonProjection"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/DfsSlatesByDate/{date}": {
      "get": {
        "operationId": "DfsSlatesByDate",
        "summary": "DFS Slates by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the slates.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DfsSlate"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    }
  },
  "tags": [],
  "definitions": {
    "PlayerGameProjection": {
      "properties": {
        "StatID": {
          "type": "integer",
          "nullable": false
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "PlayerID": {
          "type": "integer",
          "nullable": true
        },
        "SeasonType": {
          "type": "integer",
          "nullable": true
        },
        "Season": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "Position": {
          "type": "string",
          "nullable": true
        },
        "PositionCategory": {
          "type": "string",
          "nullable": true
        },
        "Started": {
          "type": "integer",
          "nullable": true
        },
        "BattingOrder": {
          "type": "integer",
          "nullable": true
        },
        "FanDuelSalary": {
          "type": "integer",
          "nullable": true
        },
        "DraftKingsSalary": {
          "type": "integer",
          "nullable": true
        },
        "FantasyDataSalary": {
          "type": "integer",
          "nullable": true
        },
        "YahooSalary": {
          "type": "integer",
          "nullable": true
        },
        "InjuryStatus": {
          "type": "string",
          "nullable": true
        },
        "InjuryBodyPart": {
          "type": "string",
          "nullable": true
        },
        "InjuryStartDate": {
          "type": "string",
          "nullable": true
        },
        "InjuryNotes": {
          "type": "string",
          "nullable": true
        },
        "FanDuelPosition": {
          "type": "string",
          "nullable": true
        },
        "DraftKingsPosition": {
          "type": "string",
          "nullable": true
        },
        "YahooPosition": {
          "type": "string",
          "nullable": true
        },
        "OpponentRank": {
          "type": "integer",
          "nullable": true
        },
        "OpponentPositionRank": {
          "type": "integer",
          "nullable": true
        },
        "GlobalTeamID": {
          "type": "integer",
          "nullable": true
        },
        "FantasyDraftSalary": {
          "type": "integer",
          "nullable": true
        },
        "FantasyDraftPosition": {
          "type": "string",
          "nullable": true
        },
        "GameID": {
          "type": "integer",
          "nullable": true
        },
        "OpponentID": {
          "type": "integer",
          "nullable": true
        },
        "Opponent": {
          "type": "string",
          "nullable": true
        },
        "Day": {
          "type": "string",
          "nullable": true
        },
        "DateTime": {
          "type": "string",
          "nullable": true
        },
        "HomeOrAway": {
          "type": "string",
          "nullable": true
        },
        "IsGameOver": {
          "type": "boolean",
          "nullable": false
        },
        "GlobalGameID": {
          "type": "integer",
          "nullable": true
        },
        "GlobalOpponentID": {
          "type": "integer",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "Games": {
          "type": "integer",
          "nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "nullable": true
        },
        "AtBats": {
          "type": "number",
          "nullable": true
        },
        "Runs": {
          "type": "number",
          "nullable": true
        },
        "Hits": {
          "type": "number",
          "nullable": true
        },
        "Singles": {
          "type": "number",
          "nullable": true
        },
        "Doubles": {
          "type": "number",
          "nullable": true
        },
        "Triples": {
          "type": "number",
          "nullable": true
        },
        "HomeRuns": {
          "type": "number",
          "nullable": true
        },
        "RunsBattedIn": {
          "type": "number",
          "nullable": true
        },
        "BattingAverage": {
          "type": "number",
          "nullable": true
        },
        "Outs": {
          "type": "number",
          "nullable": true
        },
        "Strikeouts": {
          "type": "number",
          "nullable": true
        },
        "Walks": {
          "type": "number",
          "nullable": true
        },
        "HitByPitch": {
          "type": "number",
          "nullable": true
        },
        "Sacrifices": {
          "type": "number",
          "nullable": true
        },
        "SacrificeFlies": {
          "type": "number",
          "nullable": true
        },
        "GroundIntoDoublePlay": {
          "type": "number",
          "nullable": true
        },
        "StolenBases": {
          "type": "number",
          "nullable": true
        },
        "CaughtStealing": {
          "type": "number",
          "nullable": true
        },
        "PitchesSeen": {
          "type": "number",
          "nullable": true
        },
        "OnBasePercentage": {
          "type": "number",
          "nullable": true
        },
        "SluggingPercentage": {
          "type": "number",
          "nullable": true
        },
        "OnBasePlusSlugging": {
          "type": "number",
          "nullable": true
        },
        "Errors": {
          "type": "number",
          "nullable": true
        },
        "Wins": {
          "type": "number",
          "nullable": true
        },
        "Losses": {
          "type": "number",
          "nullable": true
        },
        "Saves": {
          "type": "number",
          "nullable": true
        },
        "InningsPitchedDecimal": {
          "type": "number",
          "nullable": true
        },
        "TotalOutsPitched": {
          "type": "number",
          "nullable": true
        },
        "InningsPitchedFull": {
          "type": "number",
          "nullable": true
        },
        "InningsPitchedOuts": {
          "type": "number",
          "nullable": true
        },
        "EarnedRunAverage": {
          "type": "number",
          "nullable": true
        },
        "PitchingHits": {
          "type": "number",
          "nullable": true
        },
        "PitchingRuns": {
          "type": "number",
          "nullable": true
        },
        "PitchingEarnedRuns": {
          "type": "number",
          "nullable": true
        },
        "PitchingWalks": {
          "type": "number",
          "nullable": true
        },
        "PitchingStrikeouts": {
          "type": "number",
          "nullable": true
        },
        "PitchingHomeRuns": {
          "type": "number",
          "nullable": true
        },
        "PitchesThrown": {
          "type": "number",
          "nullable": true
        },
        "PitchesThrownStrikes": {
          "type": "number",
          "nullable": true
        },
        "WalksHitsPerInningsPitched": {
          "type": "number",
          "nullable": true
        },
        "PitchingBattingAverageAgainst": {
          "type": "number",
          "nullable": true
        },
        "GrandSlams": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "nullable": true
        },
        "PlateAppearances": {
          "type": "number",
          "nullable": true
        },
        "TotalBases": {
          "type": "number",
          "nullable": true
        },
        "FlyOuts": {
          "type": "number",
          "nullable": true
        },
        "GroundOuts": {
          "type": "number",
          "nullable": true
        },
        "LineOuts": {
          "type": "number",
          "nullable": true
        },
        "PopOuts": {
          "type": "number",
          "nullable": true
        },
        "IntentionalWalks": {
          "type": "number",
          "nullable": true
        },
        "ReachedOnError": {
          "type": "number",
          "nullable": true
        },
        "BallsInPlay": {
          "type": "number",
          "nullable": true
        },
        "BattingAverageOnBallsInPlay": {
          "type": "number",
          "nullable": true
        },
        "WeightedOnBasePercentage": {
          "type": "number",
          "nullable": true
        },
        "PitchingSingles": {
          "type": "number",
          "nullable": true
        },
        "PitchingDoubles": {
          "type": "number",
          "nullable": true
        },
        "PitchingTriples": {
          "type": "number",
          "nullable": true
        },
        "PitchingGrandSlams": {
          "type": "number",
          "nullable": true
        },
        "PitchingHitByPitch": {
          "type": "number",
          "nullable": true
        },
        "PitchingSacrifices": {
          "type": "number",
          "nullable": true
        },
        "PitchingSacrificeFlies": {
          "type": "number",
          "nullable": true
        },
        "PitchingGroundIntoDoublePlay": {
          "type": "number",
          "nullable": true
        },
        "PitchingCompleteGames": {
          "type": "number",
          "nullable": true
        },
        "PitchingShutOuts": {
          "type": "number",
          "nullable": true
        },
        "PitchingNoHitters": {
          "type": "number",
          "nullable": true
        },
        "PitchingPerfectGames": {
          "type": "number",
          "nullable": true
        },
        "PitchingPlateAppearances": {
          "type": "number",
          "nullable": true
        },
        "PitchingTotalBases": {
          "type": "number",
          "nullable": true
        },
        "PitchingFlyOuts": {
          "type": "number",
          "nullable": true
        },
        "PitchingGroundOuts": {
          "type": "number",
          "nullable": true
        },
        "PitchingLineOuts": {
          "type": "number",
          "nullable": true
        },
        "PitchingPopOuts": {
          "type": "number",
          "nullable": true
        },
        "PitchingIntentionalWalks": {
          "type": "number",
          "nullable": true
        },
        "PitchingReachedOnError": {
          "type": "number",
          "nullable": true
        },
        "PitchingCatchersInterference": {
          "type": "number",
          "nullable": true
        },
        "PitchingBallsInPlay": {
          "type": "number",
          "nullable": true
        },
        "PitchingOnBasePercentage": {
          "type": "number",
          "nullable": true
        },
        "PitchingSluggingPercentage": {
          "type": "number",
          "nullable": true
        },
        "PitchingOnBasePlusSlugging": {
          "type": "number",
          "nullable": true
        },
        "PitchingStrikeoutsPerNineInnings": {
          "type": "number",
          "nullable": true
        },
        "PitchingWalksPerNineInnings": {
          "type": "number",
          "nullable": true
        },
        "PitchingBattingAverageOnBallsInPlay": {
          "type": "number",
          "nullable": true
        },
        "PitchingWeightedOnBasePercentage": {
          "type": "number",
          "nullable": true
        },
        "DoublePlays": {
          "type": "number",
          "nullable": true
        },
        "PitchingDoublePlays": {
          "type": "number",
          "nullable": true
        },
        "BattingOrderConfirmed": {
          "type": "boolean",
          "nullable": true
        },
        "IsolatedPower": {
          "type": "number",
          "nullable": true
        },
        "FieldingIndependentPitching": {
          "type": "number",
          "nullable": true
        },
        "PitchingQualityStarts": {
          "type": "number",
          "nullable": true
        },
        "PitchingInningStarted": {
          "type": "integer",
          "nullable": true
        },
        "LeftOnBase": {
          "type": "number",
          "nullable": true
        },
        "PitchingHolds": {
          "type": "number",
          "nullable": true
        },
        "PitchingBlownSaves": {
          "type": "number",
          "nullable": true
        },
        "SubstituteBattingOrder": {
          "type": "integer",
          "nullable": true
        },
        "SubstituteBattingOrderSequence": {
          "type": "integer",
          "nullable": true
        },
        "FantasyPointsFantasyDraft": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "PlayerSeasonProjection": {
      "properties": {
        "StatID": {
          "type": "integer",
          "nullable": false
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "PlayerID": {
          "type": "integer",
          "nullable": true
        },
        "SeasonType": {
          "type": "integer",
          "nullable": true
        },
        "Season": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "Position": {
          "type": "string",
          "nullable": true
        },
        "PositionCategory": {
          "type": "string",
          "nullable": true
        },
        "Started": {
          "type": "integer",
          "nullable": true
        },
        "BattingOrder": {
          "type": "integer",
          "nullable": true
        },
        "GlobalTeamID": {
          "type": "integer",
          "nullable": true
        },
        "AverageDraftPosition": {
          "type": "number",
          "nullable": true
        },
        "AuctionValue": {
          "type": "integer",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "Games": {
          "type": "integer",
          "nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "nullable": true
        },
        "AtBats": {
          "type": "number",
          "nullable": true
        },
        "Runs": {
          "type": "number",
          "nullable": true
        },
        "Hits": {
          "type": "number",
          "nullable": true
        },
        "Singles": {
          "type": "number",
          "nullable": true
        },
        "Doubles": {
          "type": "number",
          "nullable": true
        },
        "Triples": {
          "type": "number",
          "nullable": true
        },
        "HomeRuns": {
          "type": "number",
          "nullable": true
        },
        "RunsBattedIn": {
          "type": "number",
          "nullable": true
        },
        "BattingAverage": {
          "type": "number",
          "nullable": true
        },
        "Outs": {
          "type": "number",
          "nullable": true
        },
        "Strikeouts": {
          "type": "number",
          "nullable": true
        },
        "Walks": {
          "type": "number",
          "nullable": true
        },
        "HitByPitch": {
          "type": "number",
          "nullable": true
        },
        "Sacrifices": {
          "type": "number",
          "nullable": true
        },
        "SacrificeFlies": {
          "type": "number",
          "nullable": true
        },
        "GroundIntoDoublePlay": {
          "type": "number",
          "nullable": true
        },
        "StolenBases": {
          "type": "number",
          "nullable": true
        },
        "CaughtStealing": {
          "type": "number",
          "nullable": true
        },
        "PitchesSeen": {
          "type": "number",
          "nullable": true
        },
        "OnBasePercentage": {
          "type": "number",
          "nullable": true
        },
        "SluggingPercentage": {
          "type": "number",
          "nullable": true
        },
        "OnBasePlusSlugging": {
          "type": "number",
          "nullable": true
        },
        "Errors": {
          "type": "number",
          "nullable": true
        },
        "Wins": {
          "type": "number",
          "nullable": true
        },
        "Losses": {
          "type": "number",
          "nullable": true
        },
        "Saves": {
          "type": "number",
          "nullable": true
        },
        "InningsPitchedDecimal": {
          "type": "number",
          "nullable": true
        },
        "TotalOutsPitched": {
          "type": "number",
          "nullable": true
        },
        "InningsPitchedFull": {
          "type": "number",
          "nullable": true
        },
        "InningsPitchedOuts": {
          "type": "number",
          "nullable": true
        },
        "EarnedRunAverage": {
          "type": "number",
          "nullable": true
        },
        "PitchingHits": {
          "type": "number",
          "nullable": true
        },
        "PitchingRuns": {
          "type": "number",
          "nullable": true
        },
        "PitchingEarnedRuns": {
          "type": "number",
          "nullable": true
        },
        "PitchingWalks": {
          "type": "number",
          "nullable": true
        },
        "PitchingStrikeouts": {
          "type": "number",
          "nullable": true
        },
        "PitchingHomeRuns": {
          "type": "number",
          "nullable": true
        },
        "PitchesThrown": {
          "type": "number",
          "nullable": true
        },
        "PitchesThrownStrikes": {
          "type": "number",
          "nullable": true
        },
        "WalksHitsPerInningsPitched": {
          "type": "number",
          "nullable": true
        },
        "PitchingBattingAverageAgainst": {
          "type": "number",
          "nullable": true
        },
        "GrandSlams": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "nullable": true
        },
        "PlateAppearances": {
          "type": "number",
          "nullable": true
        },
        "TotalBases": {
          "type": "number",
          "nullable": true
        },
        "FlyOuts": {
          "type": "number",
          "nullable": true
        },
        "GroundOuts": {
          "type": "number",
          "nullable": true
        },
        "LineOuts": {
          "type": "number",
          "nullable": true
        },
        "PopOuts": {
          "type": "number",
          "nullable": true
        },
        "IntentionalWalks": {
          "type": "number",
          "nullable": true
        },
        "ReachedOnError": {
          "type": "number",
          "nullable": true
        },
        "BallsInPlay": {
          "type": "number",
          "nullable": true
        },
        "BattingAverageOnBallsInPlay": {
          "type": "number",
          "nullable": true
        },
        "WeightedOnBasePercentage": {
          "type": "number",
          "nullable": true
        },
        "PitchingSingles": {
          "type": "number",
          "nullable": true
        },
        "PitchingDoubles": {
          "type": "number",
          "nullable": true
        },
        "PitchingTriples": {
          "type": "number",
          "nullable": true
        },
        "PitchingGrandSlams": {
          "type": "number",
          "nullable": true
        },
        "PitchingHitByPitch": {
          "type": "number",
          "nullable": true
        },
        "PitchingSacrifices": {
          "type": "number",
          "nullable": true
        },
        "PitchingSacrificeFlies": {
          "type": "number",
          "nullable": true
        },
        "PitchingGroundIntoDoublePlay": {
          "type": "number",
          "nullable": true
        },
        "PitchingCompleteGames": {
          "type": "number",
          "nullable": true
        },
        "PitchingShutOuts": {
          "type": "number",
          "nullable": true
        },
        "PitchingNoHitters": {
          "type": "number",
          "nullable": true
        },
        "PitchingPerfectGames": {
          "type": "number",
          "nullable": true
        },
        "PitchingPlateAppearances": {
          "type": "number",
          "nullable": true
        },
        "PitchingTotalBases": {
          "type": "number",
          "nullable": true
        },
        "PitchingFlyOuts": {
          "type": "number",
          "nullable": true
        },
        "PitchingGroundOuts": {
          "type": "number",
          "nullable": true
        },
        "PitchingLineOuts": {
          "type": "number",
          "nullable": true
        },
        "PitchingPopOuts": {
          "type": "number",
          "nullable": true
        },
        "PitchingIntentionalWalks": {
          "type": "number",
          "nullable": true
        },
        "PitchingReachedOnError": {
          "type": "number",
          "nullable": true
        },
        "PitchingCatchersInterference": {
          "type": "number",
          "nullable": true
        },
        "PitchingBallsInPlay": {
          "type": "number",
          "nullable": true
        },
        "PitchingOnBasePercentage": {
          "type": "number",
          "nullable": true
        },
        "PitchingSluggingPercentage": {
          "type": "number",
          "nullable": true
        },
        "PitchingOnBasePlusSlugging": {
          "type": "number",
          "nullable": true
        },
        "PitchingStrikeoutsPerNineInnings": {
          "type": "number",
          "nullable": true
        },
        "PitchingWalksPerNineInnings": {
          "type": "number",
          "nullable": true
        },
        "PitchingBattingAverageOnBallsInPlay": {
          "type": "number",
          "nullable": true
        },
        "PitchingWeightedOnBasePercentage": {
          "type": "number",
          "nullable": true
        },
        "DoublePlays": {
          "type": "number",
          "nullable": true
        },
        "PitchingDoublePlays": {
          "type": "number",
          "nullable": true
        },
        "BattingOrderConfirmed": {
          "type": "boolean",
          "nullable": true
        },
        "IsolatedPower": {
          "type": "number",
          "nullable": true
        },
        "FieldingIndependentPitching": {
          "type": "number",
          "nullable": true
        },
        "PitchingQualityStarts": {
          "type": "number",
          "nullable": true
        },
        "PitchingInningStarted": {
          "type": "integer",
          "nullable": true
        },
        "LeftOnBase": {
          "type": "number",
          "nullable": true
        },
        "PitchingHolds": {
          "type": "number",
          "nullable": true
        },
        "PitchingBlownSaves": {
          "type": "number",
          "nullable": true
        },
        "SubstituteBattingOrder": {
          "type": "integer",
          "nullable": true
        },
        "SubstituteBattingOrderSequence": {
          "type": "integer",
          "nullable": true
        },
        "FantasyPointsFantasyDraft": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "DfsSlate": {
      "properties": {
        "SlateID": {
          "type": "integer",
          "nullable": false
        },
        "Operator": {
          "type": "string",
          "nullable": true
        },
        "OperatorSlateID": {
          "type": "integer",
          "nullable": true
        },
        "OperatorName": {
          "type": "string",
          "nullable": true
        },
        "OperatorDay": {
          "type": "string",
          "nullable": true
        },
        "OperatorStartTime": {
          "type": "string",
          "nullable": true
        },
        "NumberOfGames": {
          "type": "integer",
          "nullable": true
        },
        "IsMultiDaySlate": {
          "type": "boolean",
          "nullable": true
        },
        "RemovedByOperator": {
          "type": "boolean",
          "nullable": true
        },
        "OperatorGameType": {
          "type": "string",
          "nullable": true
        },
        "DfsSlateGames": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DfsSlateGame"
          }
        },
        "DfsSlatePlayers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DfsSlatePlayer"
          }
        },
        "SlateRosterSlots": {
          "type": "array",
          "items": {
            "type": "string",
            "nullable": true
          }
        },
        "SalaryCap": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "DfsSlateGame": {
      "properties": {
        "SlateGameID": {
          "type": "integer",
          "nullable": false
        },
        "SlateID": {
          "type": "integer",
          "nullable": false
        },
        "GameID": {
          "type": "integer",
          "nullable": true
        },
        "Game": {
          "$ref": "#/definitions/Game"
        },
        "OperatorGameID": {
          "type": "integer",
          "nullable": true
        },
        "RemovedByOperator": {
          "type": "boolean",
          "nullable": true
        }
      }
    },
    "Game": {
      "properties": {
        "GameID": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "Status": {
          "type": "string",
          "nullable": true
        },
        "Day": {
          "type": "string",
          "nullable": true
        },
        "DateTime": {
          "type": "string",
          "nullable": true
        },
        "AwayTeam": {
          "type": "string",
          "nullable": true
        },
        "HomeTeam": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamID": {
          "type": "integer",
          "nullable": false
        },
        "HomeTeamID": {
          "type": "integer",
          "nullable": false
        },
        "RescheduledGameID": {
          "type": "integer",
          "nullable": true
        },
        "StadiumID": {
          "type": "integer",
          "nullable": true
        },
        "Channel": {
          "type": "string",
          "nullable": true
        },
        "Inning": {
          "type": "integer",
          "nullable": true
        },
        "InningHalf": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamRuns": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamRuns": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamHits": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamHits": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamErrors": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamErrors": {
          "type": "integer",
          "nullable": true
        },
        "WinningPitcherID": {
          "type": "integer",
          "nullable": true
        },
        "LosingPitcherID": {
          "type": "integer",
          "nullable": true
        },
        "SavingPitcherID": {
          "type": "integer",
          "nullable": true
        },
        "Attendance": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamProbablePitcherID": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamProbablePitcherID": {
          "type": "integer",
          "nullable": true
        },
        "Outs": {
          "type": "integer",
          "nullable": true
        },
        "Balls": {
          "type": "integer",
          "nullable": true
        },
        "Strikes": {
          "type": "integer",
          "nullable": true
        },
        "CurrentPitcherID": {
          "type": "integer",
          "nullable": true
        },
        "CurrentHitterID": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamStartingPitcherID": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamStartingPitcherID": {
          "type": "integer",
          "nullable": true
        },
        "CurrentPitchingTeamID": {
          "type": "integer",
          "nullable": true
        },
        "CurrentHittingTeamID": {
          "type": "integer",
          "nullable": true
        },
        "PointSpread": {
          "type": "number",
          "nullable": true
        },
        "OverUnder": {
          "type": "number",
          "nullable": true
        },
        "AwayTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "ForecastTempLow": {
          "type": "integer",
          "nullable": true
        },
        "ForecastTempHigh": {
          "type": "integer",
          "nullable": true
        },
        "ForecastDescription": {
          "type": "string",
          "nullable": true
        },
        "ForecastWindChill": {
          "type": "integer",
          "nullable": true
        },
        "ForecastWindSpeed": {
          "type": "integer",
          "nullable": true
        },
        "ForecastWindDirection": {
          "type": "integer",
          "nullable": true
        },
        "RescheduledFromGameID": {
          "type": "integer",
          "nullable": true
        },
        "RunnerOnFirst": {
          "type": "boolean",
          "nullable": true
        },
        "RunnerOnSecond": {
          "type": "boolean",
          "nullable": true
        },
        "RunnerOnThird": {
          "type": "boolean",
          "nullable": true
        },
        "AwayTeamStartingPitcher": {
          "type": "string",
          "nullable": true
        },
        "HomeTeamStartingPitcher": {
          "type": "string",
          "nullable": true
        },
        "CurrentPitcher": {
          "type": "string",
          "nullable": true
        },
        "CurrentHitter": {
          "type": "string",
          "nullable": true
        },
        "WinningPitcher": {
          "type": "string",
          "nullable": true
        },
        "LosingPitcher": {
          "type": "string",
          "nullable": true
        },
        "SavingPitcher": {
          "type": "string",
          "nullable": true
        },
        "DueUpHitterID1": {
          "type": "integer",
          "nullable": true
        },
        "DueUpHitterID2": {
          "type": "integer",
          "nullable": true
        },
        "DueUpHitterID3": {
          "type": "integer",
          "nullable": true
        },
        "GlobalGameID": {
          "type": "integer",
          "nullable": false
        },
        "GlobalAwayTeamID": {
          "type": "integer",
          "nullable": false
        },
        "GlobalHomeTeamID": {
          "type": "integer",
          "nullable": false
        },
        "PointSpreadAwayTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "PointSpreadHomeTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "LastPlay": {
          "type": "string",
          "nullable": true
        },
        "IsClosed": {
          "type": "boolean",
          "nullable": false
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "Innings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Inning"
          }
        },
        "GameEndDateTime": {
          "type": "string",
          "nullable": true
        },
        "HomeRotationNumber": {
          "type": "integer",
          "nullable": true
        },
        "AwayRotationNumber": {
          "type": "integer",
          "nullable": true
        },
        "NeutralVenue": {
          "type": "boolean",
          "nullable": true
        },
        "InningDescription": {
          "type": "string",
          "nullable": true
        },
        "OverPayout": {
          "type": "integer",
          "nullable": true
        },
        "UnderPayout": {
          "type": "integer",
          "nullable": true
        },
        "SeriesInfo": {
          "$ref": "#/definitions/Series"
        }
      }
    },
    "Inning": {
      "properties": {
        "InningID": {
          "type": "integer",
          "nullable": false
        },
        "GameID": {
          "type": "integer",
          "nullable": false
        },
        "InningNumber": {
          "type": "integer",
          "nullable": false
        },
        "AwayTeamRuns": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamRuns": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "Series": {
      "properties": {
        "HomeTeamWins": {
          "type": "integer",
          "nullable": false
        },
        "AwayTeamWins": {
          "type": "integer",
          "nullable": false
        },
        "GameNumber": {
          "type": "integer",
          "nullable": false
        },
        "MaxLength": {
          "type": "integer",
          "nullable": false
        }
      }
    },
    "DfsSlatePlayer": {
      "properties": {
        "SlatePlayerID": {
          "type": "integer",
          "nullable": false
        },
        "SlateID": {
          "type": "integer",
          "nullable": false
        },
        "SlateGameID": {
          "type": "integer",
          "nullable": true
        },
        "PlayerID": {
          "type": "integer",
          "nullable": true
        },
        "PlayerGameProjectionStatID": {
          "type": "integer",
          "nullable": true
        },
        "OperatorPlayerID": {
          "type": "string",
          "nullable": true
        },
        "OperatorSlatePlayerID": {
          "type": "string",
          "nullable": true
        },
        "OperatorPlayerName": {
          "type": "string",
          "nullable": true
        },
        "OperatorPosition": {
          "type": "string",
          "nullable": true
        },
        "OperatorSalary": {
          "type": "integer",
          "nullable": true
        },
        "OperatorRosterSlots": {
          "type": "array",
          "items": {
            "type": "string",
            "nullable": true
          }
        },
        "RemovedByOperator": {
          "type": "boolean",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        }
      }
    }
  }
}