{
  "swagger": "2.0",
  "info": {
    "title": "NHL v3 Scores",
    "version": "1.0"
  },
  "host": "api.sportsdata.io",
  "basePath": "/v3/nhl/scores",
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "x-servers": [
    {
      "url": "http://api.sportsdata.io"
    },
    {
      "url": "https://api.sportsdata.io"
    },
    {
      "url": "http://azure-api.sportsdata.io"
    },
    {
      "url": "https://azure-api.sportsdata.io"
    }
  ],
  "paths": {
    "/{format}/Players": {
      "get": {
        "operationId": "PlayerDetailsByActive",
        "summary": "Player Details by Active",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/teams": {
      "get": {
        "operationId": "TeamsActive",
        "summary": "Teams (Active)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Team"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/AreAnyGamesInProgress": {
      "get": {
        "description": "Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.",
        "operationId": "AreGamesInProgress",
        "summary": "Are Games In Progress",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "boolean",
              "nullable": false
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/FreeAgents": {
      "get": {
        "operationId": "PlayerDetailsByFreeAgent",
        "summary": "Player Details by Free Agent",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/GamesByDate/{date}": {
      "get": {
        "operationId": "GamesByDate",
        "summary": "Games by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.\n ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Game"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Games/{season}": {
      "get": {
        "operationId": "Schedules",
        "summary": "Schedules",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Game"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/News": {
      "get": {
        "operationId": "News",
        "summary": "News",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/News"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/NewsByDate/{date}": {
      "get": {
        "operationId": "NewsByDate",
        "summary": "News by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the news.\n <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.\n ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/News"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/NewsByPlayerID/{playerid}": {
      "get": {
        "operationId": "NewsByPlayer",
        "summary": "News by Player",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "playerid",
            "in": "path",
            "description": "Unique FantasyData Player ID.\n Example:<code>10000507</code>.\n ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/News"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Players/{team}": {
      "get": {
        "operationId": "PlayersByTeam",
        "summary": "Players by Team",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "team",
            "in": "path",
            "description": "The abbreviation of the requested team.\n <br>Examples: <code>SF</code>, <code>NYY</code>.\n ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Stadiums": {
      "get": {
        "operationId": "Stadiums",
        "summary": "Stadiums",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Stadium"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/TeamGameStatsByDate/{date}": {
      "get": {
        "operationId": "TeamGameStatsByDate",
        "summary": "Team Game Stats by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.\n ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamGame"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/TeamSeasonStats/{season}": {
      "get": {
        "operationId": "TeamSeasonStats",
        "summary": "Team Season Stats",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamSeason"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Player/{playerid}": {
      "get": {
        "operationId": "PlayerDetailsByPlayer",
        "summary": "Player Details by Player",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "playerid",
            "in": "path",
            "description": "Unique FantasyData Player ID.\nExample:<code>30000007</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Player"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/CurrentSeason": {
      "get": {
        "operationId": "CurrentSeason",
        "summary": "Current Season",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Season"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Standings/{season}": {
      "get": {
        "operationId": "Standings",
        "summary": "Standings",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Standing"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/AllTeams": {
      "get": {
        "operationId": "TeamsAll",
        "summary": "Teams (All)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Team"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    }
  },
  "tags": [],
  "definitions": {
    "Player": {
      "properties": {
        "PlayerID": {
          "type": "integer",
          "nullable": false
        },
        "FirstName": {
          "type": "string",
          "nullable": true
        },
        "LastName": {
          "type": "string",
          "nullable": true
        },
        "Status": {
          "type": "string",
          "nullable": true
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "Position": {
          "type": "string",
          "nullable": true
        },
        "Jersey": {
          "type": "integer",
          "nullable": true
        },
        "Catches": {
          "type": "string",
          "nullable": true
        },
        "Shoots": {
          "type": "string",
          "nullable": true
        },
        "Height": {
          "type": "integer",
          "nullable": true
        },
        "Weight": {
          "type": "integer",
          "nullable": true
        },
        "BirthDate": {
          "type": "string",
          "nullable": true
        },
        "BirthCity": {
          "type": "string",
          "nullable": true
        },
        "BirthState": {
          "type": "string",
          "nullable": true
        },
        "PhotoUrl": {
          "type": "string",
          "nullable": true
        },
        "SportRadarPlayerID": {
          "type": "string",
          "nullable": true
        },
        "RotoworldPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "RotoWirePlayerID": {
          "type": "integer",
          "nullable": true
        },
        "FantasyAlarmPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "StatsPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "SportsDirectPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "XmlTeamPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "InjuryStatus": {
          "type": "string",
          "nullable": true
        },
        "InjuryBodyPart": {
          "type": "string",
          "nullable": true
        },
        "InjuryStartDate": {
          "type": "string",
          "nullable": true
        },
        "InjuryNotes": {
          "type": "string",
          "nullable": true
        },
        "FanDuelPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "DraftKingsPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "YahooPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "FanDuelName": {
          "type": "string",
          "nullable": true
        },
        "DraftKingsName": {
          "type": "string",
          "nullable": true
        },
        "YahooName": {
          "type": "string",
          "nullable": true
        },
        "DepthChartPosition": {
          "type": "string",
          "nullable": true
        },
        "DepthChartOrder": {
          "type": "integer",
          "nullable": true
        },
        "GlobalTeamID": {
          "type": "integer",
          "nullable": true
        },
        "FantasyDraftName": {
          "type": "string",
          "nullable": true
        },
        "FantasyDraftPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "UsaTodayPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "UsaTodayHeadshotUrl": {
          "type": "string",
          "nullable": true
        },
        "UsaTodayHeadshotNoBackgroundUrl": {
          "type": "string",
          "nullable": true
        },
        "UsaTodayHeadshotUpdated": {
          "type": "string",
          "nullable": true
        },
        "UsaTodayHeadshotNoBackgroundUpdated": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "Team": {
      "properties": {
        "TeamID": {
          "type": "integer",
          "nullable": false
        },
        "Key": {
          "type": "string",
          "nullable": true
        },
        "Active": {
          "type": "boolean",
          "nullable": false
        },
        "City": {
          "type": "string",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "StadiumID": {
          "type": "integer",
          "nullable": true
        },
        "Conference": {
          "type": "string",
          "nullable": true
        },
        "Division": {
          "type": "string",
          "nullable": true
        },
        "PrimaryColor": {
          "type": "string",
          "nullable": true
        },
        "SecondaryColor": {
          "type": "string",
          "nullable": true
        },
        "TertiaryColor": {
          "type": "string",
          "nullable": true
        },
        "QuaternaryColor": {
          "type": "string",
          "nullable": true
        },
        "WikipediaLogoUrl": {
          "type": "string",
          "nullable": true
        },
        "WikipediaWordMarkUrl": {
          "type": "string",
          "nullable": true
        },
        "GlobalTeamID": {
          "type": "integer",
          "nullable": false
        }
      }
    },
    "Game": {
      "properties": {
        "GameID": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "Status": {
          "type": "string",
          "nullable": true
        },
        "Day": {
          "type": "string",
          "nullable": true
        },
        "DateTime": {
          "type": "string",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "IsClosed": {
          "type": "boolean",
          "nullable": true
        },
        "AwayTeam": {
          "type": "string",
          "nullable": true
        },
        "HomeTeam": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamID": {
          "type": "integer",
          "nullable": false
        },
        "HomeTeamID": {
          "type": "integer",
          "nullable": false
        },
        "StadiumID": {
          "type": "integer",
          "nullable": true
        },
        "Channel": {
          "type": "string",
          "nullable": true
        },
        "Attendance": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamScore": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamScore": {
          "type": "integer",
          "nullable": true
        },
        "Period": {
          "type": "string",
          "nullable": true
        },
        "TimeRemainingMinutes": {
          "type": "integer",
          "nullable": true
        },
        "TimeRemainingSeconds": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "PointSpread": {
          "type": "number",
          "nullable": true
        },
        "OverUnder": {
          "type": "number",
          "nullable": true
        },
        "GlobalGameID": {
          "type": "integer",
          "nullable": false
        },
        "GlobalAwayTeamID": {
          "type": "integer",
          "nullable": false
        },
        "GlobalHomeTeamID": {
          "type": "integer",
          "nullable": false
        },
        "PointSpreadAwayTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "PointSpreadHomeTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "LastPlay": {
          "type": "string",
          "nullable": true
        },
        "Periods": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Period"
          }
        },
        "GameEndDateTime": {
          "type": "string",
          "nullable": true
        },
        "HomeRotationNumber": {
          "type": "integer",
          "nullable": true
        },
        "AwayRotationNumber": {
          "type": "integer",
          "nullable": true
        },
        "NeutralVenue": {
          "type": "boolean",
          "nullable": true
        },
        "OverPayout": {
          "type": "integer",
          "nullable": true
        },
        "UnderPayout": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "Period": {
      "properties": {
        "PeriodID": {
          "type": "integer",
          "nullable": false
        },
        "GameID": {
          "type": "integer",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "AwayScore": {
          "type": "integer",
          "nullable": true
        },
        "HomeScore": {
          "type": "integer",
          "nullable": true
        },
        "ScoringPlays": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScoringPlay"
          }
        },
        "Penalties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Penalty"
          }
        }
      }
    },
    "ScoringPlay": {
      "properties": {
        "ScoringPlayID": {
          "type": "integer",
          "nullable": false
        },
        "PeriodID": {
          "type": "integer",
          "nullable": false
        },
        "Sequence": {
          "type": "integer",
          "nullable": true
        },
        "TimeRemainingMinutes": {
          "type": "integer",
          "nullable": true
        },
        "TimeRemainingSeconds": {
          "type": "integer",
          "nullable": true
        },
        "ScoredByTeamID": {
          "type": "integer",
          "nullable": true
        },
        "AllowedByTeamID": {
          "type": "integer",
          "nullable": true
        },
        "ScoredByPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "AssistedByPlayerID1": {
          "type": "integer",
          "nullable": true
        },
        "AssistedByPlayerID2": {
          "type": "integer",
          "nullable": true
        },
        "PowerPlay": {
          "type": "boolean",
          "nullable": true
        },
        "ShortHanded": {
          "type": "boolean",
          "nullable": true
        },
        "EmptyNet": {
          "type": "boolean",
          "nullable": true
        },
        "AwayTeamScore": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamScore": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "Penalty": {
      "properties": {
        "PenaltyID": {
          "type": "integer",
          "nullable": false
        },
        "PeriodID": {
          "type": "integer",
          "nullable": false
        },
        "Sequence": {
          "type": "integer",
          "nullable": true
        },
        "TimeRemainingMinutes": {
          "type": "integer",
          "nullable": true
        },
        "TimeRemainingSeconds": {
          "type": "integer",
          "nullable": true
        },
        "Description": {
          "type": "string",
          "nullable": true
        },
        "PenaltyMinutes": {
          "type": "integer",
          "nullable": true
        },
        "PenalizedTeamID": {
          "type": "integer",
          "nullable": true
        },
        "PenalizedPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "DrawnByTeamID": {
          "type": "integer",
          "nullable": true
        },
        "DrawnByPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "IsBenchPenalty": {
          "type": "boolean",
          "nullable": true
        },
        "BenchPenaltyServedByPlayerID": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "News": {
      "properties": {
        "NewsID": {
          "type": "integer",
          "nullable": false
        },
        "PlayerID": {
          "type": "integer",
          "nullable": true
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "Title": {
          "type": "string",
          "nullable": true
        },
        "Content": {
          "type": "string",
          "nullable": true
        },
        "Url": {
          "type": "string",
          "nullable": true
        },
        "Source": {
          "type": "string",
          "nullable": true
        },
        "TermsOfUse": {
          "type": "string",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "Stadium": {
      "properties": {
        "StadiumID": {
          "type": "integer",
          "nullable": false
        },
        "Active": {
          "type": "boolean",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Address": {
          "type": "string",
          "nullable": true
        },
        "City": {
          "type": "string",
          "nullable": true
        },
        "State": {
          "type": "string",
          "nullable": true
        },
        "Zip": {
          "type": "string",
          "nullable": true
        },
        "Country": {
          "type": "string",
          "nullable": true
        },
        "Capacity": {
          "type": "integer",
          "nullable": true
        },
        "GeoLat": {
          "type": "number",
          "nullable": true
        },
        "GeoLong": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "TeamGame": {
      "properties": {
        "StatID": {
          "type": "integer",
          "nullable": false
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "SeasonType": {
          "type": "integer",
          "nullable": true
        },
        "Season": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "Wins": {
          "type": "integer",
          "nullable": true
        },
        "Losses": {
          "type": "integer",
          "nullable": true
        },
        "OvertimeLosses": {
          "type": "integer",
          "nullable": true
        },
        "GlobalTeamID": {
          "type": "integer",
          "nullable": true
        },
        "GameID": {
          "type": "integer",
          "nullable": true
        },
        "OpponentID": {
          "type": "integer",
          "nullable": true
        },
        "Opponent": {
          "type": "string",
          "nullable": true
        },
        "Day": {
          "type": "string",
          "nullable": true
        },
        "DateTime": {
          "type": "string",
          "nullable": true
        },
        "HomeOrAway": {
          "type": "string",
          "nullable": true
        },
        "IsGameOver": {
          "type": "boolean",
          "nullable": false
        },
        "GlobalGameID": {
          "type": "integer",
          "nullable": true
        },
        "GlobalOpponentID": {
          "type": "integer",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "Games": {
          "type": "integer",
          "nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "nullable": true
        },
        "Minutes": {
          "type": "integer",
          "nullable": true
        },
        "Seconds": {
          "type": "integer",
          "nullable": true
        },
        "Goals": {
          "type": "number",
          "nullable": true
        },
        "Assists": {
          "type": "number",
          "nullable": true
        },
        "ShotsOnGoal": {
          "type": "number",
          "nullable": true
        },
        "PowerPlayGoals": {
          "type": "number",
          "nullable": true
        },
        "ShortHandedGoals": {
          "type": "number",
          "nullable": true
        },
        "EmptyNetGoals": {
          "type": "number",
          "nullable": true
        },
        "PowerPlayAssists": {
          "type": "number",
          "nullable": true
        },
        "ShortHandedAssists": {
          "type": "number",
          "nullable": true
        },
        "HatTricks": {
          "type": "number",
          "nullable": true
        },
        "ShootoutGoals": {
          "type": "number",
          "nullable": true
        },
        "PlusMinus": {
          "type": "number",
          "nullable": true
        },
        "PenaltyMinutes": {
          "type": "number",
          "nullable": true
        },
        "Blocks": {
          "type": "number",
          "nullable": true
        },
        "Hits": {
          "type": "number",
          "nullable": true
        },
        "Takeaways": {
          "type": "number",
          "nullable": true
        },
        "Giveaways": {
          "type": "number",
          "nullable": true
        },
        "FaceoffsWon": {
          "type": "number",
          "nullable": true
        },
        "FaceoffsLost": {
          "type": "number",
          "nullable": true
        },
        "Shifts": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingMinutes": {
          "type": "integer",
          "nullable": true
        },
        "GoaltendingSeconds": {
          "type": "integer",
          "nullable": true
        },
        "GoaltendingShotsAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingGoalsAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingSaves": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingWins": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingLosses": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingShutouts": {
          "type": "number",
          "nullable": true
        },
        "Started": {
          "type": "integer",
          "nullable": true
        },
        "BenchPenaltyMinutes": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingOvertimeLosses": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFantasyDraft": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "TeamSeason": {
      "properties": {
        "StatID": {
          "type": "integer",
          "nullable": false
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "SeasonType": {
          "type": "integer",
          "nullable": true
        },
        "Season": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "Wins": {
          "type": "integer",
          "nullable": true
        },
        "Losses": {
          "type": "integer",
          "nullable": true
        },
        "OvertimeLosses": {
          "type": "integer",
          "nullable": true
        },
        "OpponentPosition": {
          "type": "string",
          "nullable": true
        },
        "GlobalTeamID": {
          "type": "integer",
          "nullable": true
        },
        "OpponentStat": {
          "$ref": "#/definitions/OpponentSeason"
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "Games": {
          "type": "integer",
          "nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "nullable": true
        },
        "Minutes": {
          "type": "integer",
          "nullable": true
        },
        "Seconds": {
          "type": "integer",
          "nullable": true
        },
        "Goals": {
          "type": "number",
          "nullable": true
        },
        "Assists": {
          "type": "number",
          "nullable": true
        },
        "ShotsOnGoal": {
          "type": "number",
          "nullable": true
        },
        "PowerPlayGoals": {
          "type": "number",
          "nullable": true
        },
        "ShortHandedGoals": {
          "type": "number",
          "nullable": true
        },
        "EmptyNetGoals": {
          "type": "number",
          "nullable": true
        },
        "PowerPlayAssists": {
          "type": "number",
          "nullable": true
        },
        "ShortHandedAssists": {
          "type": "number",
          "nullable": true
        },
        "HatTricks": {
          "type": "number",
          "nullable": true
        },
        "ShootoutGoals": {
          "type": "number",
          "nullable": true
        },
        "PlusMinus": {
          "type": "number",
          "nullable": true
        },
        "PenaltyMinutes": {
          "type": "number",
          "nullable": true
        },
        "Blocks": {
          "type": "number",
          "nullable": true
        },
        "Hits": {
          "type": "number",
          "nullable": true
        },
        "Takeaways": {
          "type": "number",
          "nullable": true
        },
        "Giveaways": {
          "type": "number",
          "nullable": true
        },
        "FaceoffsWon": {
          "type": "number",
          "nullable": true
        },
        "FaceoffsLost": {
          "type": "number",
          "nullable": true
        },
        "Shifts": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingMinutes": {
          "type": "integer",
          "nullable": true
        },
        "GoaltendingSeconds": {
          "type": "integer",
          "nullable": true
        },
        "GoaltendingShotsAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingGoalsAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingSaves": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingWins": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingLosses": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingShutouts": {
          "type": "number",
          "nullable": true
        },
        "Started": {
          "type": "integer",
          "nullable": true
        },
        "BenchPenaltyMinutes": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingOvertimeLosses": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFantasyDraft": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "OpponentSeason": {
      "properties": {
        "StatID": {
          "type": "integer",
          "nullable": false
        },
        "TeamID": {
          "type": "integer",
          "nullable": true
        },
        "SeasonType": {
          "type": "integer",
          "nullable": true
        },
        "Season": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "Wins": {
          "type": "integer",
          "nullable": true
        },
        "Losses": {
          "type": "integer",
          "nullable": true
        },
        "OvertimeLosses": {
          "type": "integer",
          "nullable": true
        },
        "OpponentPosition": {
          "type": "string",
          "nullable": true
        },
        "GlobalTeamID": {
          "type": "integer",
          "nullable": true
        },
        "OpponentStat": {
          "$ref": "#/definitions/OpponentSeason"
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "Games": {
          "type": "integer",
          "nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "nullable": true
        },
        "Minutes": {
          "type": "integer",
          "nullable": true
        },
        "Seconds": {
          "type": "integer",
          "nullable": true
        },
        "Goals": {
          "type": "number",
          "nullable": true
        },
        "Assists": {
          "type": "number",
          "nullable": true
        },
        "ShotsOnGoal": {
          "type": "number",
          "nullable": true
        },
        "PowerPlayGoals": {
          "type": "number",
          "nullable": true
        },
        "ShortHandedGoals": {
          "type": "number",
          "nullable": true
        },
        "EmptyNetGoals": {
          "type": "number",
          "nullable": true
        },
        "PowerPlayAssists": {
          "type": "number",
          "nullable": true
        },
        "ShortHandedAssists": {
          "type": "number",
          "nullable": true
        },
        "HatTricks": {
          "type": "number",
          "nullable": true
        },
        "ShootoutGoals": {
          "type": "number",
          "nullable": true
        },
        "PlusMinus": {
          "type": "number",
          "nullable": true
        },
        "PenaltyMinutes": {
          "type": "number",
          "nullable": true
        },
        "Blocks": {
          "type": "number",
          "nullable": true
        },
        "Hits": {
          "type": "number",
          "nullable": true
        },
        "Takeaways": {
          "type": "number",
          "nullable": true
        },
        "Giveaways": {
          "type": "number",
          "nullable": true
        },
        "FaceoffsWon": {
          "type": "number",
          "nullable": true
        },
        "FaceoffsLost": {
          "type": "number",
          "nullable": true
        },
        "Shifts": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingMinutes": {
          "type": "integer",
          "nullable": true
        },
        "GoaltendingSeconds": {
          "type": "integer",
          "nullable": true
        },
        "GoaltendingShotsAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingGoalsAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingSaves": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingWins": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingLosses": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingShutouts": {
          "type": "number",
          "nullable": true
        },
        "Started": {
          "type": "integer",
          "nullable": true
        },
        "BenchPenaltyMinutes": {
          "type": "number",
          "nullable": true
        },
        "GoaltendingOvertimeLosses": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFantasyDraft": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "Season": {
      "properties": {
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "StartYear": {
          "type": "integer",
          "nullable": false
        },
        "EndYear": {
          "type": "integer",
          "nullable": false
        },
        "Description": {
          "type": "string",
          "nullable": true
        },
        "RegularSeasonStartDate": {
          "type": "string",
          "nullable": true
        },
        "PostSeasonStartDate": {
          "type": "string",
          "nullable": true
        },
        "SeasonType": {
          "type": "string",
          "nullable": true
        },
        "ApiSeason": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "Standing": {
      "properties": {
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "TeamID": {
          "type": "integer",
          "nullable": false
        },
        "Key": {
          "type": "string",
          "nullable": true
        },
        "City": {
          "type": "string",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Conference": {
          "type": "string",
          "nullable": true
        },
        "Division": {
          "type": "string",
          "nullable": true
        },
        "Wins": {
          "type": "integer",
          "nullable": true
        },
        "Losses": {
          "type": "integer",
          "nullable": true
        },
        "OvertimeLosses": {
          "type": "integer",
          "nullable": true
        },
        "Percentage": {
          "type": "number",
          "nullable": true
        },
        "ConferenceWins": {
          "type": "integer",
          "nullable": true
        },
        "ConferenceLosses": {
          "type": "integer",
          "nullable": true
        },
        "DivisionWins": {
          "type": "integer",
          "nullable": true
        },
        "DivisionLosses": {
          "type": "integer",
          "nullable": true
        },
        "ShutoutWins": {
          "type": "integer",
          "nullable": true
        },
        "ConferenceRank": {
          "type": "integer",
          "nullable": true
        },
        "DivisionRank": {
          "type": "integer",
          "nullable": true
        },
        "GlobalTeamID": {
          "type": "integer",
          "nullable": true
        }
      }
    }
  }
}