{
  "swagger": "2.0",
  "info": {
    "title": "Soccer v3 Stats",
    "version": "1.0"
  },
  "host": "api.sportsdata.io",
  "basePath": "/v3/soccer/stats",
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "x-servers": [
    {
      "url": "http://api.sportsdata.io"
    },
    {
      "url": "https://api.sportsdata.io"
    },
    {
      "url": "http://azure-api.sportsdata.io"
    },
    {
      "url": "https://azure-api.sportsdata.io"
    }
  ],
  "paths": {
    "/{format}/GamesByDate/{date}": {
      "get": {
        "operationId": "GamesByDate",
        "summary": "Games by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Game"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Areas": {
      "get": {
        "operationId": "AreasCountries",
        "summary": "Areas (Countries)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Area"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Competitions": {
      "get": {
        "operationId": "CompetitionsLeagues",
        "summary": "Competitions (Leagues)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Competition"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/CompetitionHierarchy": {
      "get": {
        "operationId": "CompetitionHierarchyLeagueHierarchy",
        "summary": "Competition Hierarchy (League Hierarchy)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Area"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Teams": {
      "get": {
        "operationId": "Teams",
        "summary": "Teams",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Team"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Venues": {
      "get": {
        "operationId": "Venues",
        "summary": "Venues",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Venue"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/SeasonTeams/{seasonid}": {
      "get": {
        "operationId": "SeasonTeams",
        "summary": "Season Teams",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "seasonid",
            "in": "path",
            "description": "Unique FantasyData Season ID. SeasonIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SeasonTeam"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Schedule/{roundid}": {
      "get": {
        "operationId": "Schedule",
        "summary": "Schedule",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "roundid",
            "in": "path",
            "description": "Unique FantasyData Round ID. RoundIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Game"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Players": {
      "get": {
        "operationId": "Players",
        "summary": "Players",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Player/{playerid}": {
      "get": {
        "operationId": "Player",
        "summary": "Player",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "playerid",
            "in": "path",
            "description": "Unique FantasyData Player ID.\nExample:<code>90026231</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Player"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayersByTeam/{teamid}": {
      "get": {
        "operationId": "PlayersByTeam",
        "summary": "Players by Team",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "teamid",
            "in": "path",
            "description": "Unique FantasyData Team ID. \nExample:<code>516</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BoxScores/{date}": {
      "get": {
        "operationId": "BoxScoresByDate",
        "summary": "Box Scores by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoxScore"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BoxScoresDelta/{date}/{minutes}": {
      "get": {
        "operationId": "BoxScoresByDateDelta",
        "summary": "Box Scores by Date Delta",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "required": true,
            "type": "string"
          },
          {
            "name": "minutes",
            "in": "path",
            "description": "Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back. Valid entries are:\n<code>1</code>, <code>2</code> ... <code>all</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoxScore"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BoxScore/{gameid}": {
      "get": {
        "operationId": "BoxScore",
        "summary": "Box Score",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "gameid",
            "in": "path",
            "description": "The GameID of a Soccer game.  GameIDs can be found in the Games API.  Valid entries are <code>702</code>, <code>1274</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BoxScore"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerGameStatsByDate/{date}": {
      "get": {
        "operationId": "PlayerGameStatsByDate",
        "summary": "Player Game Stats by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerGame"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerGameStatsByPlayer/{date}/{playerid}": {
      "get": {
        "operationId": "PlayerGameStatsByPlayer",
        "summary": "Player Game Stats by Player",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "required": true,
            "type": "string"
          },
          {
            "name": "playerid",
            "in": "path",
            "description": "Unique FantasyData Player ID.\nExample:<code>90026231</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerGame"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerSeasonStats/{roundid}": {
      "get": {
        "operationId": "PlayerSeasonStats",
        "summary": "Player Season Stats",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "roundid",
            "in": "path",
            "description": "Unique FantasyData Round ID. RoundIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerSeason"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerSeasonStatsByTeam/{roundid}/{team}": {
      "get": {
        "operationId": "PlayerSeasonStatsByTeam",
        "summary": "Player Season Stats by Team",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "roundid",
            "in": "path",
            "description": "Unique FantasyData Round ID. RoundIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc",
            "required": true,
            "type": "string"
          },
          {
            "name": "team",
            "in": "path",
            "description": "Unique FantasyData Team ID. \nExample:<code>516</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerSeason"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerSeasonStatsByPlayer/{roundid}/{playerid}": {
      "get": {
        "operationId": "PlayerSeasonStatsByPlayer",
        "summary": "Player Season Stats by Player",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "roundid",
            "in": "path",
            "description": "Unique FantasyData Round ID. RoundIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc",
            "required": true,
            "type": "string"
          },
          {
            "name": "playerid",
            "in": "path",
            "description": "Unique FantasyData Player ID.\nExample:<code>90026231</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerSeason"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/TeamSeasonStats/{roundid}": {
      "get": {
        "operationId": "TeamSeasonStats",
        "summary": "Team Season Stats",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "roundid",
            "in": "path",
            "description": "Unique FantasyData Round ID. RoundIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamSeason"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/TeamGameStatsByDate/{date}": {
      "get": {
        "operationId": "TeamGameStatsByDate",
        "summary": "Team Game Stats by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamGame"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Standings/{roundid}": {
      "get": {
        "operationId": "Standings",
        "summary": "Standings",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "roundid",
            "in": "path",
            "description": "Unique FantasyData Round ID. RoundIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Standing"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/CompetitionDetails/{competition}": {
      "get": {
        "operationId": "CompetitionFixturesLeagueDetails",
        "summary": "Competition Fixtures (League Details)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "competition",
            "in": "path",
            "description": "An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CompetitionDetail"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BoxScoresByCompetition/{competition}/{date}": {
      "get": {
        "operationId": "BoxScoresByDateByCompetition",
        "summary": "Box Scores by Date by Competition",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "competition",
            "in": "path",
            "description": "An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoxScore"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/BoxScoresDeltaByCompetition/{competition}/{date}/{minutes}": {
      "get": {
        "operationId": "BoxScoresDeltaByDateByCompetition",
        "summary": "Box Scores Delta by Date by Competition",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "competition",
            "in": "path",
            "description": "An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "required": true,
            "type": "string"
          },
          {
            "name": "minutes",
            "in": "path",
            "description": "Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back. Valid entries are:\n<code>1</code>, <code>2</code> ... <code>all</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoxScore"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/MembershipsByTeam/{teamid}": {
      "get": {
        "operationId": "MembershipsByTeamActive",
        "summary": "Memberships by Team (Active)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "teamid",
            "in": "path",
            "description": "Unique FantasyData Team ID. \nExample:<code>516</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Membership"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/HistoricalMembershipsByTeam/{teamid}": {
      "get": {
        "operationId": "MembershipsByTeamHistorical",
        "summary": "Memberships by Team (Historical)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "teamid",
            "in": "path",
            "description": "Unique FantasyData Team ID. \nExample:<code>516</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Membership"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/ActiveMemberships": {
      "get": {
        "operationId": "MembershipsActive",
        "summary": "Memberships (Active)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Membership"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/HistoricalMemberships": {
      "get": {
        "operationId": "MembershipsHistorical",
        "summary": "Memberships (Historical)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Membership"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/UpcomingScheduleByPlayer/{playerid}": {
      "get": {
        "operationId": "UpcomingScheduleByPlayer",
        "summary": "Upcoming Schedule By Player",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "playerid",
            "in": "path",
            "description": "Unique FantasyData Player ID.\nExample:<code>90026231</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Game"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/MembershipsByCompetition/{competition}": {
      "get": {
        "operationId": "MembershipsByCompetitionActive",
        "summary": "Memberships by Competition (Active)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "competition",
            "in": "path",
            "description": "An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Membership"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/HistoricalMembershipsByCompetition/{competition}": {
      "get": {
        "operationId": "MembershipsByCompetitionHistorical",
        "summary": "Memberships by Competition (Historical)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "competition",
            "in": "path",
            "description": "An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Membership"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/RecentlyChangedMemberships/{days}": {
      "get": {
        "operationId": "MembershipsRecentlyChanged",
        "summary": "Memberships (Recently Changed)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "xml",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "name": "days",
            "in": "path",
            "description": "The number of days since memberships were updated. For example, if you pass <code>3</code>, you'll receive all memberships that have been updated in the past 3 days. Valid entries are: <code>1</code>, <code>2</code> ... <code>30</code>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Membership"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/DfsSlatesByDate/{date}": {
      "get": {
        "operationId": "DfsSlatesByDate",
        "summary": "Dfs Slates By Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2020-02-18</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DfsSlate"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/UpcomingDfsSlatesByCompetition/{competitionId}": {
      "get": {
        "operationId": "UpcomingDfsSlatesByCompetition",
        "summary": "Upcoming Dfs Slates By Competition",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "competitionId",
            "in": "path",
            "description": "The id of the competition.\n<br>Examples: <code>3</code>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DfsSlate"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    }
  },
  "tags": [],
  "definitions": {
    "Game": {
      "properties": {
        "GameId": {
          "type": "integer",
          "nullable": false
        },
        "RoundId": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "Group": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamId": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamId": {
          "type": "integer",
          "nullable": true
        },
        "VenueId": {
          "type": "integer",
          "nullable": true
        },
        "Day": {
          "type": "string",
          "nullable": true
        },
        "DateTime": {
          "type": "string",
          "nullable": true
        },
        "Status": {
          "type": "string",
          "nullable": true
        },
        "Week": {
          "type": "integer",
          "nullable": true
        },
        "Period": {
          "type": "string",
          "nullable": true
        },
        "Clock": {
          "type": "integer",
          "nullable": true
        },
        "Winner": {
          "type": "string",
          "nullable": true
        },
        "VenueType": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamKey": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamName": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamCountryCode": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamScore": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamScorePeriod1": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamScorePeriod2": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamScoreExtraTime": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamScorePenalty": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamKey": {
          "type": "string",
          "nullable": true
        },
        "HomeTeamName": {
          "type": "string",
          "nullable": true
        },
        "HomeTeamCountryCode": {
          "type": "string",
          "nullable": true
        },
        "HomeTeamScore": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamScorePeriod1": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamScorePeriod2": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamScoreExtraTime": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamScorePenalty": {
          "type": "integer",
          "nullable": true
        },
        "HomeTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "DrawMoneyLine": {
          "type": "integer",
          "nullable": true
        },
        "PointSpread": {
          "type": "number",
          "nullable": true
        },
        "HomeTeamPointSpreadPayout": {
          "type": "integer",
          "nullable": true
        },
        "AwayTeamPointSpreadPayout": {
          "type": "integer",
          "nullable": true
        },
        "OverUnder": {
          "type": "number",
          "nullable": true
        },
        "OverPayout": {
          "type": "integer",
          "nullable": true
        },
        "UnderPayout": {
          "type": "integer",
          "nullable": true
        },
        "Attendance": {
          "type": "integer",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "UpdatedUtc": {
          "type": "string",
          "nullable": true
        },
        "GlobalGameId": {
          "type": "integer",
          "nullable": false
        },
        "GlobalAwayTeamId": {
          "type": "integer",
          "nullable": true
        },
        "GlobalHomeTeamId": {
          "type": "integer",
          "nullable": true
        },
        "ClockExtra": {
          "type": "integer",
          "nullable": true
        },
        "ClockDisplay": {
          "type": "string",
          "nullable": true
        },
        "IsClosed": {
          "type": "boolean",
          "nullable": true
        },
        "HomeTeamFormation": {
          "type": "string",
          "nullable": true
        },
        "AwayTeamFormation": {
          "type": "string",
          "nullable": true
        },
        "PlayoffAggregateScore": {
          "$ref": "#/definitions/PlayoffAggregateScore"
        }
      }
    },
    "PlayoffAggregateScore": {
      "properties": {
        "TeamA_Id": {
          "type": "integer",
          "nullable": false
        },
        "TeamA_AggregateScore": {
          "type": "integer",
          "nullable": false
        },
        "TeamB_Id": {
          "type": "integer",
          "nullable": false
        },
        "TeamB_AggregateScore": {
          "type": "integer",
          "nullable": false
        },
        "WinningTeamId": {
          "type": "integer",
          "nullable": false
        },
        "Created": {
          "type": "string",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "Area": {
      "properties": {
        "AreaId": {
          "type": "integer",
          "nullable": false
        },
        "CountryCode": {
          "type": "string",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Competitions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Competition"
          }
        }
      }
    },
    "Competition": {
      "properties": {
        "CompetitionId": {
          "type": "integer",
          "nullable": false
        },
        "AreaId": {
          "type": "integer",
          "nullable": false
        },
        "AreaName": {
          "type": "string",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Gender": {
          "type": "string",
          "nullable": true
        },
        "Type": {
          "type": "string",
          "nullable": true
        },
        "Format": {
          "type": "string",
          "nullable": true
        },
        "Seasons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Season"
          }
        },
        "Key": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "Season": {
      "properties": {
        "SeasonId": {
          "type": "integer",
          "nullable": false
        },
        "CompetitionId": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "CompetitionName": {
          "type": "string",
          "nullable": true
        },
        "StartDate": {
          "type": "string",
          "nullable": true
        },
        "EndDate": {
          "type": "string",
          "nullable": true
        },
        "CurrentSeason": {
          "type": "boolean",
          "nullable": false
        },
        "Rounds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Round"
          }
        }
      }
    },
    "Round": {
      "properties": {
        "RoundId": {
          "type": "integer",
          "nullable": false
        },
        "SeasonId": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Type": {
          "type": "string",
          "nullable": true
        },
        "StartDate": {
          "type": "string",
          "nullable": true
        },
        "EndDate": {
          "type": "string",
          "nullable": true
        },
        "CurrentWeek": {
          "type": "integer",
          "nullable": true
        },
        "CurrentRound": {
          "type": "boolean",
          "nullable": false
        }
      }
    },
    "Team": {
      "properties": {
        "TeamId": {
          "type": "integer",
          "nullable": false
        },
        "AreaId": {
          "type": "integer",
          "nullable": true
        },
        "VenueId": {
          "type": "integer",
          "nullable": true
        },
        "Key": {
          "type": "string",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "FullName": {
          "type": "string",
          "nullable": true
        },
        "Active": {
          "type": "boolean",
          "nullable": false
        },
        "AreaName": {
          "type": "string",
          "nullable": true
        },
        "VenueName": {
          "type": "string",
          "nullable": true
        },
        "Gender": {
          "type": "string",
          "nullable": true
        },
        "Type": {
          "type": "string",
          "nullable": true
        },
        "Address": {
          "type": "string",
          "nullable": true
        },
        "City": {
          "type": "string",
          "nullable": true
        },
        "Zip": {
          "type": "string",
          "nullable": true
        },
        "Phone": {
          "type": "string",
          "nullable": true
        },
        "Fax": {
          "type": "string",
          "nullable": true
        },
        "Website": {
          "type": "string",
          "nullable": true
        },
        "Email": {
          "type": "string",
          "nullable": true
        },
        "Founded": {
          "type": "integer",
          "nullable": true
        },
        "ClubColor1": {
          "type": "string",
          "nullable": true
        },
        "ClubColor2": {
          "type": "string",
          "nullable": true
        },
        "ClubColor3": {
          "type": "string",
          "nullable": true
        },
        "Nickname1": {
          "type": "string",
          "nullable": true
        },
        "Nickname2": {
          "type": "string",
          "nullable": true
        },
        "Nickname3": {
          "type": "string",
          "nullable": true
        },
        "WikipediaLogoUrl": {
          "type": "string",
          "nullable": true
        },
        "WikipediaWordMarkUrl": {
          "type": "string",
          "nullable": true
        },
        "GlobalTeamId": {
          "type": "integer",
          "nullable": false
        }
      }
    },
    "Venue": {
      "properties": {
        "VenueId": {
          "type": "integer",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Address": {
          "type": "string",
          "nullable": true
        },
        "City": {
          "type": "string",
          "nullable": true
        },
        "Zip": {
          "type": "string",
          "nullable": true
        },
        "Country": {
          "type": "string",
          "nullable": true
        },
        "Open": {
          "type": "boolean",
          "nullable": false
        },
        "Opened": {
          "type": "integer",
          "nullable": true
        },
        "Nickname1": {
          "type": "string",
          "nullable": true
        },
        "Nickname2": {
          "type": "string",
          "nullable": true
        },
        "Capacity": {
          "type": "integer",
          "nullable": true
        },
        "Surface": {
          "type": "string",
          "nullable": true
        },
        "GeoLat": {
          "type": "number",
          "nullable": true
        },
        "GeoLong": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "SeasonTeam": {
      "properties": {
        "SeasonTeamId": {
          "type": "integer",
          "nullable": false
        },
        "SeasonId": {
          "type": "integer",
          "nullable": false
        },
        "TeamId": {
          "type": "integer",
          "nullable": false
        },
        "TeamName": {
          "type": "string",
          "nullable": true
        },
        "Active": {
          "type": "boolean",
          "nullable": false
        },
        "Gender": {
          "type": "string",
          "nullable": true
        },
        "Type": {
          "type": "string",
          "nullable": true
        },
        "Team": {
          "$ref": "#/definitions/Team"
        }
      }
    },
    "Player": {
      "properties": {
        "PlayerId": {
          "type": "integer",
          "nullable": false
        },
        "FirstName": {
          "type": "string",
          "nullable": true
        },
        "LastName": {
          "type": "string",
          "nullable": true
        },
        "CommonName": {
          "type": "string",
          "nullable": true
        },
        "ShortName": {
          "type": "string",
          "nullable": true
        },
        "Position": {
          "type": "string",
          "nullable": true
        },
        "PositionCategory": {
          "type": "string",
          "nullable": true
        },
        "Jersey": {
          "type": "integer",
          "nullable": true
        },
        "Foot": {
          "type": "string",
          "nullable": true
        },
        "Height": {
          "type": "integer",
          "nullable": true
        },
        "Weight": {
          "type": "integer",
          "nullable": true
        },
        "Gender": {
          "type": "string",
          "nullable": true
        },
        "BirthDate": {
          "type": "string",
          "nullable": true
        },
        "BirthCity": {
          "type": "string",
          "nullable": true
        },
        "BirthCountry": {
          "type": "string",
          "nullable": true
        },
        "Nationality": {
          "type": "string",
          "nullable": true
        },
        "InjuryStatus": {
          "type": "string",
          "nullable": true
        },
        "InjuryBodyPart": {
          "type": "string",
          "nullable": true
        },
        "InjuryNotes": {
          "type": "string",
          "nullable": true
        },
        "InjuryStartDate": {
          "type": "string",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "PhotoUrl": {
          "type": "string",
          "nullable": true
        },
        "RotoWirePlayerID": {
          "type": "integer",
          "nullable": true
        },
        "DraftKingsPosition": {
          "type": "string",
          "nullable": true
        },
        "UsaTodayPlayerID": {
          "type": "integer",
          "nullable": true
        },
        "UsaTodayHeadshotUrl": {
          "type": "string",
          "nullable": true
        },
        "UsaTodayHeadshotNoBackgroundUrl": {
          "type": "string",
          "nullable": true
        },
        "UsaTodayHeadshotUpdated": {
          "type": "string",
          "nullable": true
        },
        "UsaTodayHeadshotNoBackgroundUpdated": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "BoxScore": {
      "properties": {
        "Game": {
          "$ref": "#/definitions/Game"
        },
        "AwayTeamCoach": {
          "$ref": "#/definitions/Coach"
        },
        "HomeTeamCoach": {
          "$ref": "#/definitions/Coach"
        },
        "MainReferee": {
          "$ref": "#/definitions/Referee"
        },
        "AssistantReferee1": {
          "$ref": "#/definitions/Referee"
        },
        "AssistantReferee2": {
          "$ref": "#/definitions/Referee"
        },
        "FourthReferee": {
          "$ref": "#/definitions/Referee"
        },
        "AdditionalAssistantReferee1": {
          "$ref": "#/definitions/Referee"
        },
        "AdditionalAssistantReferee2": {
          "$ref": "#/definitions/Referee"
        },
        "Lineups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Lineup"
          }
        },
        "Goals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Goal"
          }
        },
        "Bookings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Booking"
          }
        },
        "PenaltyShootouts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PenaltyShootout"
          }
        },
        "TeamGames": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamGame"
          }
        },
        "PlayerGames": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerGame"
          }
        },
        "VideoAssistantReferee": {
          "$ref": "#/definitions/Referee"
        }
      }
    },
    "Coach": {
      "properties": {
        "CoachId": {
          "type": "integer",
          "nullable": false
        },
        "FirstName": {
          "type": "string",
          "nullable": true
        },
        "LastName": {
          "type": "string",
          "nullable": true
        },
        "ShortName": {
          "type": "string",
          "nullable": true
        },
        "Nationality": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "Referee": {
      "properties": {
        "RefereeId": {
          "type": "integer",
          "nullable": false
        },
        "FirstName": {
          "type": "string",
          "nullable": true
        },
        "LastName": {
          "type": "string",
          "nullable": true
        },
        "ShortName": {
          "type": "string",
          "nullable": true
        },
        "Nationality": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "Lineup": {
      "properties": {
        "LineupId": {
          "type": "integer",
          "nullable": false
        },
        "GameId": {
          "type": "integer",
          "nullable": false
        },
        "Type": {
          "type": "string",
          "nullable": true
        },
        "TeamId": {
          "type": "integer",
          "nullable": false
        },
        "PlayerId": {
          "type": "integer",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Position": {
          "type": "string",
          "nullable": true
        },
        "ReplacedPlayerId": {
          "type": "integer",
          "nullable": true
        },
        "ReplacedPlayerName": {
          "type": "string",
          "nullable": true
        },
        "GameMinute": {
          "type": "integer",
          "nullable": true
        },
        "GameMinuteExtra": {
          "type": "integer",
          "nullable": true
        },
        "PitchPositionHorizontal": {
          "type": "integer",
          "nullable": true
        },
        "PitchPositionVertical": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "Goal": {
      "properties": {
        "GoalId": {
          "type": "integer",
          "nullable": false
        },
        "GameId": {
          "type": "integer",
          "nullable": false
        },
        "TeamId": {
          "type": "integer",
          "nullable": false
        },
        "PlayerId": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Type": {
          "type": "string",
          "nullable": true
        },
        "AssistedByPlayerId1": {
          "type": "integer",
          "nullable": true
        },
        "AssistedByPlayerName1": {
          "type": "string",
          "nullable": true
        },
        "AssistedByPlayerId2": {
          "type": "integer",
          "nullable": true
        },
        "AssistedByPlayerName2": {
          "type": "string",
          "nullable": true
        },
        "GameMinute": {
          "type": "integer",
          "nullable": true
        },
        "GameMinuteExtra": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "Booking": {
      "properties": {
        "BookingId": {
          "type": "integer",
          "nullable": false
        },
        "GameId": {
          "type": "integer",
          "nullable": false
        },
        "Type": {
          "type": "string",
          "nullable": true
        },
        "TeamId": {
          "type": "integer",
          "nullable": false
        },
        "PlayerId": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "GameMinute": {
          "type": "integer",
          "nullable": true
        },
        "GameMinuteExtra": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "PenaltyShootout": {
      "properties": {
        "PenaltyShootoutId": {
          "type": "integer",
          "nullable": false
        },
        "GameId": {
          "type": "integer",
          "nullable": false
        },
        "Type": {
          "type": "string",
          "nullable": true
        },
        "TeamId": {
          "type": "integer",
          "nullable": false
        },
        "PlayerId": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Position": {
          "type": "string",
          "nullable": true
        },
        "Order": {
          "type": "integer",
          "nullable": false
        }
      }
    },
    "TeamGame": {
      "properties": {
        "StatId": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "RoundId": {
          "type": "integer",
          "nullable": true
        },
        "TeamId": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "GlobalTeamId": {
          "type": "integer",
          "nullable": true
        },
        "Possession": {
          "type": "number",
          "nullable": true
        },
        "GameId": {
          "type": "integer",
          "nullable": true
        },
        "OpponentId": {
          "type": "integer",
          "nullable": true
        },
        "Opponent": {
          "type": "string",
          "nullable": true
        },
        "Day": {
          "type": "string",
          "nullable": true
        },
        "DateTime": {
          "type": "string",
          "nullable": true
        },
        "HomeOrAway": {
          "type": "string",
          "nullable": true
        },
        "IsGameOver": {
          "type": "boolean",
          "nullable": false
        },
        "GlobalGameId": {
          "type": "integer",
          "nullable": true
        },
        "GlobalOpponentId": {
          "type": "integer",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "UpdatedUtc": {
          "type": "string",
          "nullable": true
        },
        "Games": {
          "type": "integer",
          "nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsMondogoal": {
          "type": "number",
          "nullable": true
        },
        "Minutes": {
          "type": "number",
          "nullable": true
        },
        "Goals": {
          "type": "number",
          "nullable": true
        },
        "Assists": {
          "type": "number",
          "nullable": true
        },
        "Shots": {
          "type": "number",
          "nullable": true
        },
        "ShotsOnGoal": {
          "type": "number",
          "nullable": true
        },
        "YellowCards": {
          "type": "number",
          "nullable": true
        },
        "RedCards": {
          "type": "number",
          "nullable": true
        },
        "YellowRedCards": {
          "type": "number",
          "nullable": true
        },
        "Crosses": {
          "type": "number",
          "nullable": true
        },
        "TacklesWon": {
          "type": "number",
          "nullable": true
        },
        "Interceptions": {
          "type": "number",
          "nullable": true
        },
        "OwnGoals": {
          "type": "number",
          "nullable": true
        },
        "Fouls": {
          "type": "number",
          "nullable": true
        },
        "Fouled": {
          "type": "number",
          "nullable": true
        },
        "Offsides": {
          "type": "number",
          "nullable": true
        },
        "Passes": {
          "type": "number",
          "nullable": true
        },
        "PassesCompleted": {
          "type": "number",
          "nullable": true
        },
        "LastManTackle": {
          "type": "number",
          "nullable": true
        },
        "CornersWon": {
          "type": "number",
          "nullable": true
        },
        "BlockedShots": {
          "type": "number",
          "nullable": true
        },
        "Touches": {
          "type": "number",
          "nullable": true
        },
        "DefenderCleanSheets": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperSaves": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperGoalsAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperSingleGoalAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperCleanSheets": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperWins": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickGoals": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickMisses": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickSaves": {
          "type": "number",
          "nullable": true
        },
        "PenaltiesWon": {
          "type": "number",
          "nullable": true
        },
        "PenaltiesConceded": {
          "type": "number",
          "nullable": true
        },
        "Score": {
          "type": "number",
          "nullable": true
        },
        "OpponentScore": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "PlayerGame": {
      "properties": {
        "StatId": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "RoundId": {
          "type": "integer",
          "nullable": true
        },
        "TeamId": {
          "type": "integer",
          "nullable": true
        },
        "PlayerId": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "ShortName": {
          "type": "string",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "PositionCategory": {
          "type": "string",
          "nullable": true
        },
        "Position": {
          "type": "string",
          "nullable": true
        },
        "Jersey": {
          "type": "integer",
          "nullable": true
        },
        "Started": {
          "type": "integer",
          "nullable": true
        },
        "Captain": {
          "type": "boolean",
          "nullable": true
        },
        "Suspension": {
          "type": "boolean",
          "nullable": true
        },
        "SuspensionReason": {
          "type": "string",
          "nullable": true
        },
        "FanDuelSalary": {
          "type": "integer",
          "nullable": true
        },
        "DraftKingsSalary": {
          "type": "integer",
          "nullable": true
        },
        "YahooSalary": {
          "type": "integer",
          "nullable": true
        },
        "MondogoalSalary": {
          "type": "integer",
          "nullable": true
        },
        "FanDuelPosition": {
          "type": "string",
          "nullable": true
        },
        "DraftKingsPosition": {
          "type": "string",
          "nullable": true
        },
        "YahooPosition": {
          "type": "string",
          "nullable": true
        },
        "MondogoalPosition": {
          "type": "string",
          "nullable": true
        },
        "InjuryStatus": {
          "type": "string",
          "nullable": true
        },
        "InjuryBodyPart": {
          "type": "string",
          "nullable": true
        },
        "InjuryNotes": {
          "type": "string",
          "nullable": true
        },
        "InjuryStartDate": {
          "type": "string",
          "nullable": true
        },
        "GlobalTeamId": {
          "type": "integer",
          "nullable": true
        },
        "GameId": {
          "type": "integer",
          "nullable": true
        },
        "OpponentId": {
          "type": "integer",
          "nullable": true
        },
        "Opponent": {
          "type": "string",
          "nullable": true
        },
        "Day": {
          "type": "string",
          "nullable": true
        },
        "DateTime": {
          "type": "string",
          "nullable": true
        },
        "HomeOrAway": {
          "type": "string",
          "nullable": true
        },
        "IsGameOver": {
          "type": "boolean",
          "nullable": false
        },
        "GlobalGameId": {
          "type": "integer",
          "nullable": true
        },
        "GlobalOpponentId": {
          "type": "integer",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "UpdatedUtc": {
          "type": "string",
          "nullable": true
        },
        "Games": {
          "type": "integer",
          "nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsMondogoal": {
          "type": "number",
          "nullable": true
        },
        "Minutes": {
          "type": "number",
          "nullable": true
        },
        "Goals": {
          "type": "number",
          "nullable": true
        },
        "Assists": {
          "type": "number",
          "nullable": true
        },
        "Shots": {
          "type": "number",
          "nullable": true
        },
        "ShotsOnGoal": {
          "type": "number",
          "nullable": true
        },
        "YellowCards": {
          "type": "number",
          "nullable": true
        },
        "RedCards": {
          "type": "number",
          "nullable": true
        },
        "YellowRedCards": {
          "type": "number",
          "nullable": true
        },
        "Crosses": {
          "type": "number",
          "nullable": true
        },
        "TacklesWon": {
          "type": "number",
          "nullable": true
        },
        "Interceptions": {
          "type": "number",
          "nullable": true
        },
        "OwnGoals": {
          "type": "number",
          "nullable": true
        },
        "Fouls": {
          "type": "number",
          "nullable": true
        },
        "Fouled": {
          "type": "number",
          "nullable": true
        },
        "Offsides": {
          "type": "number",
          "nullable": true
        },
        "Passes": {
          "type": "number",
          "nullable": true
        },
        "PassesCompleted": {
          "type": "number",
          "nullable": true
        },
        "LastManTackle": {
          "type": "number",
          "nullable": true
        },
        "CornersWon": {
          "type": "number",
          "nullable": true
        },
        "BlockedShots": {
          "type": "number",
          "nullable": true
        },
        "Touches": {
          "type": "number",
          "nullable": true
        },
        "DefenderCleanSheets": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperSaves": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperGoalsAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperSingleGoalAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperCleanSheets": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperWins": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickGoals": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickMisses": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickSaves": {
          "type": "number",
          "nullable": true
        },
        "PenaltiesWon": {
          "type": "number",
          "nullable": true
        },
        "PenaltiesConceded": {
          "type": "number",
          "nullable": true
        },
        "Score": {
          "type": "number",
          "nullable": true
        },
        "OpponentScore": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "PlayerSeason": {
      "properties": {
        "StatId": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "RoundId": {
          "type": "integer",
          "nullable": true
        },
        "TeamId": {
          "type": "integer",
          "nullable": true
        },
        "PlayerId": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "ShortName": {
          "type": "string",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "PositionCategory": {
          "type": "string",
          "nullable": true
        },
        "Position": {
          "type": "string",
          "nullable": true
        },
        "Started": {
          "type": "integer",
          "nullable": true
        },
        "GlobalTeamId": {
          "type": "integer",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "UpdatedUtc": {
          "type": "string",
          "nullable": true
        },
        "Games": {
          "type": "integer",
          "nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsMondogoal": {
          "type": "number",
          "nullable": true
        },
        "Minutes": {
          "type": "number",
          "nullable": true
        },
        "Goals": {
          "type": "number",
          "nullable": true
        },
        "Assists": {
          "type": "number",
          "nullable": true
        },
        "Shots": {
          "type": "number",
          "nullable": true
        },
        "ShotsOnGoal": {
          "type": "number",
          "nullable": true
        },
        "YellowCards": {
          "type": "number",
          "nullable": true
        },
        "RedCards": {
          "type": "number",
          "nullable": true
        },
        "YellowRedCards": {
          "type": "number",
          "nullable": true
        },
        "Crosses": {
          "type": "number",
          "nullable": true
        },
        "TacklesWon": {
          "type": "number",
          "nullable": true
        },
        "Interceptions": {
          "type": "number",
          "nullable": true
        },
        "OwnGoals": {
          "type": "number",
          "nullable": true
        },
        "Fouls": {
          "type": "number",
          "nullable": true
        },
        "Fouled": {
          "type": "number",
          "nullable": true
        },
        "Offsides": {
          "type": "number",
          "nullable": true
        },
        "Passes": {
          "type": "number",
          "nullable": true
        },
        "PassesCompleted": {
          "type": "number",
          "nullable": true
        },
        "LastManTackle": {
          "type": "number",
          "nullable": true
        },
        "CornersWon": {
          "type": "number",
          "nullable": true
        },
        "BlockedShots": {
          "type": "number",
          "nullable": true
        },
        "Touches": {
          "type": "number",
          "nullable": true
        },
        "DefenderCleanSheets": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperSaves": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperGoalsAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperSingleGoalAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperCleanSheets": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperWins": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickGoals": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickMisses": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickSaves": {
          "type": "number",
          "nullable": true
        },
        "PenaltiesWon": {
          "type": "number",
          "nullable": true
        },
        "PenaltiesConceded": {
          "type": "number",
          "nullable": true
        },
        "Score": {
          "type": "number",
          "nullable": true
        },
        "OpponentScore": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "TeamSeason": {
      "properties": {
        "StatId": {
          "type": "integer",
          "nullable": false
        },
        "SeasonType": {
          "type": "integer",
          "nullable": false
        },
        "Season": {
          "type": "integer",
          "nullable": false
        },
        "RoundId": {
          "type": "integer",
          "nullable": true
        },
        "TeamId": {
          "type": "integer",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Team": {
          "type": "string",
          "nullable": true
        },
        "GlobalTeamId": {
          "type": "integer",
          "nullable": true
        },
        "Possession": {
          "type": "number",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "UpdatedUtc": {
          "type": "string",
          "nullable": true
        },
        "Games": {
          "type": "integer",
          "nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "nullable": true
        },
        "FantasyPointsMondogoal": {
          "type": "number",
          "nullable": true
        },
        "Minutes": {
          "type": "number",
          "nullable": true
        },
        "Goals": {
          "type": "number",
          "nullable": true
        },
        "Assists": {
          "type": "number",
          "nullable": true
        },
        "Shots": {
          "type": "number",
          "nullable": true
        },
        "ShotsOnGoal": {
          "type": "number",
          "nullable": true
        },
        "YellowCards": {
          "type": "number",
          "nullable": true
        },
        "RedCards": {
          "type": "number",
          "nullable": true
        },
        "YellowRedCards": {
          "type": "number",
          "nullable": true
        },
        "Crosses": {
          "type": "number",
          "nullable": true
        },
        "TacklesWon": {
          "type": "number",
          "nullable": true
        },
        "Interceptions": {
          "type": "number",
          "nullable": true
        },
        "OwnGoals": {
          "type": "number",
          "nullable": true
        },
        "Fouls": {
          "type": "number",
          "nullable": true
        },
        "Fouled": {
          "type": "number",
          "nullable": true
        },
        "Offsides": {
          "type": "number",
          "nullable": true
        },
        "Passes": {
          "type": "number",
          "nullable": true
        },
        "PassesCompleted": {
          "type": "number",
          "nullable": true
        },
        "LastManTackle": {
          "type": "number",
          "nullable": true
        },
        "CornersWon": {
          "type": "number",
          "nullable": true
        },
        "BlockedShots": {
          "type": "number",
          "nullable": true
        },
        "Touches": {
          "type": "number",
          "nullable": true
        },
        "DefenderCleanSheets": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperSaves": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperGoalsAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperSingleGoalAgainst": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperCleanSheets": {
          "type": "number",
          "nullable": true
        },
        "GoalkeeperWins": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickGoals": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickMisses": {
          "type": "number",
          "nullable": true
        },
        "PenaltyKickSaves": {
          "type": "number",
          "nullable": true
        },
        "PenaltiesWon": {
          "type": "number",
          "nullable": true
        },
        "PenaltiesConceded": {
          "type": "number",
          "nullable": true
        },
        "Score": {
          "type": "number",
          "nullable": true
        },
        "OpponentScore": {
          "type": "number",
          "nullable": true
        }
      }
    },
    "Standing": {
      "properties": {
        "StandingId": {
          "type": "integer",
          "nullable": false
        },
        "RoundId": {
          "type": "integer",
          "nullable": false
        },
        "TeamId": {
          "type": "integer",
          "nullable": false
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "ShortName": {
          "type": "string",
          "nullable": true
        },
        "Scope": {
          "type": "string",
          "nullable": true
        },
        "Order": {
          "type": "integer",
          "nullable": true
        },
        "Games": {
          "type": "integer",
          "nullable": true
        },
        "Wins": {
          "type": "integer",
          "nullable": true
        },
        "Losses": {
          "type": "integer",
          "nullable": true
        },
        "Draws": {
          "type": "integer",
          "nullable": true
        },
        "GoalsScored": {
          "type": "integer",
          "nullable": true
        },
        "GoalsAgainst": {
          "type": "integer",
          "nullable": true
        },
        "GoalsDifferential": {
          "type": "integer",
          "nullable": true
        },
        "Points": {
          "type": "integer",
          "nullable": true
        },
        "Group": {
          "type": "string",
          "nullable": true
        },
        "GlobalTeamID": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "CompetitionDetail": {
      "properties": {
        "CurrentSeason": {
          "$ref": "#/definitions/Season"
        },
        "Teams": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamDetail"
          }
        },
        "Games": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Game"
          }
        },
        "CompetitionId": {
          "type": "integer",
          "nullable": false
        },
        "AreaId": {
          "type": "integer",
          "nullable": false
        },
        "AreaName": {
          "type": "string",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "Gender": {
          "type": "string",
          "nullable": true
        },
        "Type": {
          "type": "string",
          "nullable": true
        },
        "Format": {
          "type": "string",
          "nullable": true
        },
        "Seasons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Season"
          }
        },
        "Key": {
          "type": "string",
          "nullable": true
        }
      }
    },
    "TeamDetail": {
      "properties": {
        "Players": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Player"
          }
        },
        "TeamId": {
          "type": "integer",
          "nullable": false
        },
        "AreaId": {
          "type": "integer",
          "nullable": true
        },
        "VenueId": {
          "type": "integer",
          "nullable": true
        },
        "Key": {
          "type": "string",
          "nullable": true
        },
        "Name": {
          "type": "string",
          "nullable": true
        },
        "FullName": {
          "type": "string",
          "nullable": true
        },
        "Active": {
          "type": "boolean",
          "nullable": false
        },
        "AreaName": {
          "type": "string",
          "nullable": true
        },
        "VenueName": {
          "type": "string",
          "nullable": true
        },
        "Gender": {
          "type": "string",
          "nullable": true
        },
        "Type": {
          "type": "string",
          "nullable": true
        },
        "Address": {
          "type": "string",
          "nullable": true
        },
        "City": {
          "type": "string",
          "nullable": true
        },
        "Zip": {
          "type": "string",
          "nullable": true
        },
        "Phone": {
          "type": "string",
          "nullable": true
        },
        "Fax": {
          "type": "string",
          "nullable": true
        },
        "Website": {
          "type": "string",
          "nullable": true
        },
        "Email": {
          "type": "string",
          "nullable": true
        },
        "Founded": {
          "type": "integer",
          "nullable": true
        },
        "ClubColor1": {
          "type": "string",
          "nullable": true
        },
        "ClubColor2": {
          "type": "string",
          "nullable": true
        },
        "ClubColor3": {
          "type": "string",
          "nullable": true
        },
        "Nickname1": {
          "type": "string",
          "nullable": true
        },
        "Nickname2": {
          "type": "string",
          "nullable": true
        },
        "Nickname3": {
          "type": "string",
          "nullable": true
        },
        "WikipediaLogoUrl": {
          "type": "string",
          "nullable": true
        },
        "WikipediaWordMarkUrl": {
          "type": "string",
          "nullable": true
        },
        "GlobalTeamId": {
          "type": "integer",
          "nullable": false
        }
      }
    },
    "Membership": {
      "properties": {
        "MembershipId": {
          "type": "integer",
          "nullable": false
        },
        "TeamId": {
          "type": "integer",
          "nullable": false
        },
        "PlayerId": {
          "type": "integer",
          "nullable": false
        },
        "PlayerName": {
          "type": "string",
          "nullable": true
        },
        "TeamName": {
          "type": "string",
          "nullable": true
        },
        "TeamArea": {
          "type": "string",
          "nullable": true
        },
        "Active": {
          "type": "boolean",
          "nullable": false
        },
        "StartDate": {
          "type": "string",
          "nullable": true
        },
        "EndDate": {
          "type": "string",
          "nullable": true
        },
        "Updated": {
          "type": "string",
          "nullable": true
        },
        "Jersey": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "DfsSlate": {
      "properties": {
        "SlateID": {
          "type": "integer",
          "nullable": false
        },
        "Operator": {
          "type": "string",
          "nullable": true
        },
        "OperatorSlateID": {
          "type": "integer",
          "nullable": true
        },
        "OperatorName": {
          "type": "string",
          "nullable": true
        },
        "OperatorDay": {
          "type": "string",
          "nullable": true
        },
        "OperatorStartTime": {
          "type": "string",
          "nullable": true
        },
        "NumberOfGames": {
          "type": "integer",
          "nullable": true
        },
        "IsMultiDaySlate": {
          "type": "boolean",
          "nullable": true
        },
        "RemovedByOperator": {
          "type": "boolean",
          "nullable": true
        },
        "OperatorGameType": {
          "type": "string",
          "nullable": true
        },
        "DfsSlateGames": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DfsSlateGame"
          }
        },
        "DfsSlatePlayers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DfsSlatePlayer"
          }
        },
        "SlateRosterSlots": {
          "type": "array",
          "items": {
            "type": "string",
            "nullable": true
          }
        },
        "SalaryCap": {
          "type": "integer",
          "nullable": true
        },
        "CompetitionId": {
          "type": "integer",
          "nullable": true
        }
      }
    },
    "DfsSlateGame": {
      "properties": {
        "SlateGameID": {
          "type": "integer",
          "nullable": false
        },
        "SlateID": {
          "type": "integer",
          "nullable": false
        },
        "GameID": {
          "type": "integer",
          "nullable": true
        },
        "Game": {
          "$ref": "#/definitions/Game"
        },
        "OperatorGameID": {
          "type": "integer",
          "nullable": true
        },
        "RemovedByOperator": {
          "type": "boolean",
          "nullable": true
        }
      }
    },
    "DfsSlatePlayer": {
      "properties": {
        "SlatePlayerID": {
          "type": "integer",
          "nullable": false
        },
        "SlateID": {
          "type": "integer",
          "nullable": false
        },
        "SlateGameID": {
          "type": "integer",
          "nullable": true
        },
        "PlayerID": {
          "type": "integer",
          "nullable": true
        },
[...]
